<div class="flex justify-between">
  <div class="flex boxItems">
    <button type="button" class="mr-2 border-white border-2 aboutMe" *ngIf="showAbout" stranslate="header.aboutButton">ABOUT ME</button>
  </div>

  <div class="flex boxItems">
    <button type="button" class="menu-hamburguer ml-4 flex justify-between flex-col" (click)="navigation()">
      <span id="first" class="bg-pink-300"></span>
      <span id="second" class="bg-pink-300"></span>
      <span id="third" class="bg-pink-300"></span>
    </button>
  </div>
</div>
