<div class="flex justify-between">
  <div class="flex boxItems">
    <button type="button" class="mr-2 border-white border-2 aboutMe" *ngIf="showAbout" stranslate="header.aboutButton">ABOUT ME</button>
    <span class="ml-2">SAMUEL ROJAS</span>
  </div>

  <div class="flex boxItems">
    <select class="border-white border-2 mr-4 px-3" #langselect (change)="translate.use(langselect.value)" >
      <option value="es">ESP</option>
      <option value="en">ENG</option>
    </select>

    <button type="button" class="menu-hamburguer ml-4 flex justify-between flex-col">
      <span id="first" class="bg-pink-300"></span>
      <span id="second" class="bg-pink-300"></span>
      <span id="third" class="bg-pink-300"></span>
    </button>
  </div>
</div>
