.menu-hamburguer span{
  height: 2px;
  width: 100%;
  display: block;
}

.menu-hamburguer {
  height: 30px;
  width: 40px;
  align-items: normal;
}

.boxItems{
  margin: 30px 30px 10px 20px;
  align-items: center;
}

.aboutMe {
  padding: 0px 10px;
  width: 100px;
}

select {
  background-color: #111;
}
