.mainBox{
  margin: 110px 100px 0px 100px;
}

.navigationMenu {
  font-weight: bold;
  font-size: 24px;
}

li {
  margin: 15px 0px;
}

.navItem {
  transition: 2s;
}
.navItem:hover {
  background-color: #db2696;
  color: #999;
}

select {
  background-color: #111;
}
