<footer *ngIf="showFooter" class="flex flex-row w-full justify-center mt-12">
  <div class="self-center iconSep">
    <a href="https://github.com/dearmaiker" target="_blank" class="flex flex-col">
      <img src="../assets/images/footer/git-icon.svg" alt="GitHub icon"
      title="GitHub" class="socialMedia">
      <p>GitHub</p>
    </a>
  </div>
  <div class="self-center iconSep">
    <a href="https://twitter.com/SamuelDear15" target="_blank" class="flex flex-col">
      <img src="../assets/images/footer/twitter-icon.svg" alt="Twitter icon"
      title="Twitter" class="socialMedia">
      <p>Twitter</p>
    </a>
  </div>
  <div class="self-center iconSep">
    <a href="https://www.linkedin.com/in/samuel-rojas-dugarte/" target="_blank" class="flex flex-col">
      <img src="../assets/images/footer/lkn-icon.svg" alt="Linkedin icon"
      title="Linkedin" class="socialMedia">
      <p>Linkedin</p>
    </a>
  </div>
  <div class="self-center iconSep">
    <a href="https://www.instagram.com/samuel.dugarte/" target="_blank" class="flex flex-col">
      <img src="../assets/images/footer/ig-icon.svg" alt="Instagram icon"
      title="Instagram" class="socialMedia">
      <p>Instagram</p>
    </a>
  </div>
</footer>
