<!-- Ficha resumen -->
<section class="resumeSection entryPage" id="resumeSection">
  <div class="text-center">
    <h1 class="text-4xl font-bold">
      <a href="https://play.google.com/store/apps/details?id=com.traumapp" target="_blank" class="titleLinkPlayStore">
        TraumApp <mat-icon aria-hidden="false" aria-label="link">mobile_friendly</mat-icon>
      </a>
    </h1>
    <p class="text-center my-5 dsc" stranslate="traumapp.dsc"></p>
  </div>

  <!-- Subtitulo del proyecto -->
  <div class="justify-between rolAgencyDate mt-2">
    <p class="my-1"><span stranslate="project.role"></span>&nbsp;<span stranslate="traumapp.role"></span></p>
    <p class="my-1"><span stranslate="project.agency"></span> DearSoft Studios</p>
    <p class="my-1"><span stranslate="project.date"></span> 06-2021</p>
  </div>

  <!-- Imagen principal del proyecto -->
  <div class="my-16 flex justify-center boxUnique">
    <app-img-loader
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/principalimg.png'
          : '../../../assets/images/project-images/traumapp/light/principalimg.png'
      "
      [title]="'Imagen Principal'"
      [alt]="'Imagen Principal'"
      [id]="'principalPage'"
      [classes]="'imgScreen borderImages'"
      [height]="'400px'"
      class="w-full flex justify-center"
    ></app-img-loader>
  </div>
</section>

<!-- Introduccion -->
<section class="introductionSection mainBoxTraumApp entryPage" id="introSection">
  <h5 class="text-center text-3xl font-bold titleSection" stranslate="project.introTitle"></h5>

  <div class="introductionBox p-4">
    <p class="text-justify intro" stranslate="traumapp.intro1"></p>
    <br />
    <p class="text-justify intro" stranslate="traumapp.intro2"></p>
    <br />
    <p class="text-justify intro" stranslate="traumapp.intro3"></p>
  </div>
</section>

<!-- Resultado visual -->
<section class="visualResult mainBoxTraumApp entryPage" id="visualResultSecion">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="project.visualRes"></h2>

  <!-- pantalla 1 -->
  <div class="visualResultItems" id="visualResult1">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/loginimg.png'
          : '../../../assets/images/project-images/traumapp/light/loginimg.png'
      "
      class="imgVisualResult imgLeft"
      title="Login"
      alt="Login TraumApp"
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt="Arrow"
      class="arrowCurve arrowCurveLeft"
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult1"></p>
  </div>

  <!-- pantalla 2 -->
  <div class="visualResultItems visualResultItemsRight" id="visualResult2">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/homemenu.png'
          : '../../../assets/images/project-images/traumapp/light/homemenu.png'
      "
      class="imgVisualResult imgRight"
      title="Home principal"
      alt="Home principal"
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt="Arrow"
      class="arrowCurve arrowCurveRight"
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult2"></p>
  </div>

  <!-- pantalla 3 -->
  <div class="visualResultItems" id="visualResult3">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/calendarimg.png'
          : '../../../assets/images/project-images/traumapp/light/calendarimg.png'
      "
      class="imgVisualResult imgLeft"
      title="Calendario de Citas"
      alt="Calendario de Citas"
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt="Arrow"
      class="arrowCurve arrowCurveLeft"
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult3"></p>
  </div>

  <!-- pantalla 4 -->
  <div class="visualResultItems visualResultItemsRight" id="visualResult4">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/registerModeImg.png'
          : '../../../assets/images/project-images/traumapp/light/registerModeImg.png'
      "
      class="imgVisualResult imgRight borderImages"
      title="Modo Registro"
      alt="Modo Registro"
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt="Arrow"
      class="arrowCurve arrowCurveRight"
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult4"></p>
  </div>
</section>

<!-- Pacientes -->
<section class="patientsSection mainBoxTraumApp entryPage" id="patientsSection">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titlePatients"></h2>

  <div class="patientsBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscPatients"></p>
  </div>

  <!-- Pantalla de pacientes -->
  <div class="patientsImagesBox my-16">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/patientList.png'
          : '../../../assets/images/project-images/traumapp/light/patientList.png'
      "
      class="imgPatients"
      title="Lista de pacientes"
      alt="Lista de pacientes"
    />

    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/patientData.png'
          : '../../../assets/images/project-images/traumapp/light/patientData.png'
      "
      class="imgPatients"
      title="Información del Paciente"
      alt="Información del Paciente"
    />
  </div>

  <!-- Registro de pacientes -->
  <div class="patientsImagesBox my-16">
    <div class="sliderImagesMainBox">
      <div class="arrowBox arrowBoxLeft" (click)="scrollToRegisterPatient(-1)">
        <mat-icon aria-hidden="false" aria-label="arrow">keyboard_arrow_left</mat-icon>
      </div>
      <div class="sliderImages" id="registerPatientsSlider">
        <img
          id="registerPatients1"
          [src]="
            isDarkMode
              ? '../../../assets/images/project-images/traumapp/dark/registerStep1.png'
              : '../../../assets/images/project-images/traumapp/light/registerStep1.png'
          "
          [ngClass]="(currentSliderPatient === 1 ? '' : 'hideRegisterPatientSlider') + ' imgPatients '"
          title="Registro Paciente Paso 1"
          alt="Registro Paciente Paso 1"
        />
        <img
          id="registerPatients2"
          [src]="
            isDarkMode
              ? '../../../assets/images/project-images/traumapp/dark/registerStep2.png'
              : '../../../assets/images/project-images/traumapp/light/registerStep2.png'
          "
          [ngClass]="(currentSliderPatient === 2 ? '' : 'hideRegisterPatientSlider') + ' imgPatients '"
          title="Registro Paciente Paso 2"
          alt="Registro Paciente Paso 2"
        />
        <img
          id="registerPatients3"
          [src]="
            isDarkMode
              ? '../../../assets/images/project-images/traumapp/dark/registerStep3.png'
              : '../../../assets/images/project-images/traumapp/light/registerStep3.png'
          "
          [ngClass]="(currentSliderPatient === 3 ? '' : 'hideRegisterPatientSlider') + ' imgPatients '"
          title="Registro Paciente Paso 3"
          alt="Registro Paciente Paso 3"
        />
      </div>
      <div class="arrowBox arrowBoxRight" (click)="scrollToRegisterPatient(1)">
        <mat-icon aria-hidden="false" aria-label="arrow">keyboard_arrow_right</mat-icon>
      </div>
      <div class="dotBox">
        <div [ngClass]="(currentSliderPatient === 1 ? 'dotActive' : '') + ' dotPosition'"></div>
        <div [ngClass]="(currentSliderPatient === 2 ? 'dotActive' : '') + ' dotPosition'"></div>
        <div [ngClass]="(currentSliderPatient === 3 ? 'dotActive' : '') + ' dotPosition'"></div>
      </div>
    </div>

    <p class="text-justify intro sliderPatientsDsc" stranslate="traumapp.registerPatients"></p>
  </div>
</section>

<!-- Informes -->
<section class="formsSection mainBoxTraumApp entryPage" id="formsSections">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titleForms"></h2>

  <div class="formsBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscForms"></p>
  </div>

  <div class="formImagesBox">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/formMenu.png'
          : '../../../assets/images/project-images/traumapp/light/formMenu.png'
      "
      class="imgPatients borderImages"
      title="Formularios"
      alt="Formularios"
    />

    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/formMotive.png'
          : '../../../assets/images/project-images/traumapp/light/formMotive.png'
      "
      class="imgPatients borderImages"
      title="Formulario del Informe"
      alt="Formulario del Informe"
    />
  </div>

  <div class="formImagesBox">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/formSick.png'
          : '../../../assets/images/project-images/traumapp/light/formSick.png'
      "
      class="imgPatients borderImages"
      title="Formulario del Informe"
      alt="Formulario del Informe"
    />

    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/finalForm.png'
          : '../../../assets/images/project-images/traumapp/light/finalForm.png'
      "
      class="imgPatients borderImages"
      title="Informe Final"
      alt="Informe Final"
    />
  </div>
</section>

<!-- Calendario -->
<section class="calendarSection mainBoxTraumApp entryPage" id="calendarSection">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titleCalendar"></h2>

  <div class="calendarBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscCalendar"></p>
  </div>

  <div class="my-16 flex justify-center boxUnique">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/calendarprincipalimg.png'
          : '../../../assets/images/project-images/traumapp/light/calendarprincipalimg.png'
      "
      class="imgScreen borderImages"
      title="Calendario de citas"
      alt="Calendario de citas"
    />
  </div>
  <div class="configImagesBox">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/createdate.png'
          : '../../../assets/images/project-images/traumapp/light/createdate.png'
      "
      class="imgPatients borderImages"
      title="Crear cita"
      alt="Crear cita"
    />

    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/searchPatient.png'
          : '../../../assets/images/project-images/traumapp/light/searchPatient.png'
      "
      class="imgPatients borderImages"
      title="Lista de Pacientes"
      alt="Lista de Pacientes"
    />
  </div>

  <div class="configImagesBox">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/dateinfo.png'
          : '../../../assets/images/project-images/traumapp/light/dateinfo.png'
      "
      class="imgPatients borderImages"
      title="Información de Cita"
      alt="Información de Cita"
    />

    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/deletedate.png'
          : '../../../assets/images/project-images/traumapp/light/deletedate.png'
      "
      class="imgPatients borderImages"
      title="Eliminar Cita"
      alt="Eliminar Cita"
    />
  </div>
</section>

<!-- Configuracion -->
<section class="configSection mainBoxTraumApp entryPage" id="configSections">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titleConfig"></h2>

  <div class="configBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscConfig"></p>
  </div>

  <!-- Imagen principal de configuacion -->
  <div class="my-16 flex justify-center boxUnique">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/configprincipalimg.png'
          : '../../../assets/images/project-images/traumapp/light/configprincipalimg.png'
      "
      class="imgPatients"
      title="Menu de Configuración"
      alt="Menu de Configuración"
    />
  </div>

  <!-- Usuarios -->
  <div class="configRowBox configRowBoxLeft configHideBox" id="userConfig">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/userimg.png'
          : '../../../assets/images/project-images/traumapp/light/userimg.png'
      "
      class="configImages"
      title="Información Del Usuario"
      alt="Información Del Usuario"
    />
    <div class="configColumnDsc configText">
      <h1 class="configTitle" stranslate="traumapp.userTitleConfig"></h1>
      <p class="text-justify intro" stranslate="traumapp.userDscConfig"></p>
    </div>
  </div>

  <!-- Medicamentos y Seguros -->
  <div class="configRowBox configRowBoxRight configHideBox" id="medicineConfig">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/medicineList.png'
          : '../../../assets/images/project-images/traumapp/light/medicineList.png'
      "
      class="configImages"
      title="Lista de Medicamentos"
      alt="Lista de Medicamentos"
    />
    <div class="configColumnDsc configText">
      <h1 class="configTitle" stranslate="traumapp.medicineTitleConfig"></h1>
      <p class="text-justify intro" stranslate="traumapp.medicineDscConfig"></p>
    </div>
  </div>

  <!-- Register Mode -->
  <div class="configRowBox configRowBoxLeft configHideBox" id="registerModeConfig">
    <img
      [src]="
        isDarkMode
          ? '../../../assets/images/project-images/traumapp/dark/registermodeconfig.png'
          : '../../../assets/images/project-images/traumapp/light/registermodeconfig.png'
      "
      class="configImages"
      title="Modo Registro"
      alt="Modo Registro"
    />
    <div class="configColumnDsc configText">
      <h1 class="configTitle" stranslate="traumapp.registerModeTitleConfig"></h1>
      <p class="text-justify intro" stranslate="traumapp.registerModeDscConfig"></p>
    </div>
  </div>
</section>

<!-- Caracteristicas Principales -->
<section class="principalFeatures mainBoxTraumApp entryPage" id="principalFeatures">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.principalFeatures"></h2>

  <!-- Exportacion de datos -->
  <div class="principalFeatureRow principalFeatureRowLeft" id="">
    <div class="imageBoxFeature">
      <img
        src="../../../assets/images/project-images/traumapp/exportDataIc.svg"
        class="principalFeaturesImage"
        title="Exportación de Datos"
        alt="Exportación de Datos"
      />
    </div>
    <div class="principalFeatureDsc principalFeatureText">
      <h1 class="principalFeatureTitle" stranslate="traumapp.principalFeatureTitle1"></h1>
      <p class="text-justify intro" stranslate="traumapp.principalFeatureDsc1"></p>
    </div>
  </div>

  <!-- Exportacion de datos -->
  <div class="principalFeatureRow principalFeatureRowRight" id="">
    <div class="imageBoxFeature">
      <img
        src="../../../assets/images/project-images/traumapp/formIc.svg"
        class="principalFeaturesImage"
        title="Diferentes Formularios"
        alt="Diferentes Formularios"
      />
    </div>
    <div class="principalFeatureDsc principalFeatureText">
      <h1 class="principalFeatureTitle" stranslate="traumapp.principalFeatureTitle2"></h1>
      <p class="text-justify intro" stranslate="traumapp.principalFeatureDsc2"></p>
    </div>
  </div>

  <!-- Exportacion de datos -->
  <div class="principalFeatureRow principalFeatureRowLeft" id="">
    <div class="imageBoxFeature">
      <img
        src="../../../assets/images/project-images/traumapp/digitalizeIc.svg"
        class="principalFeaturesImage"
        title="Digitalización de Procesos"
        alt="Digitalización de Procesos"
      />
    </div>
    <div class="principalFeatureDsc principalFeatureText">
      <h1 class="principalFeatureTitle" stranslate="traumapp.principalFeatureTitle3"></h1>
      <p class="text-justify intro" stranslate="traumapp.principalFeatureDsc3"></p>
    </div>
  </div>
</section>

<!-- Logo de Aplicacion -->
<section class="logoSection mainBoxTraumApp">
  <img
    id="logoApp"
    src="../../../assets/images/project-images/traumapp/logoTraumApp.png"
    alt="Logo TraumApp"
    title="Logo TraumApp"
    class="logoTraumapp"
  />
</section>

<!-- Tipografia y color -->
<section class="mainBoxTraumApp">
  <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.typoColor"></h2>

  <div class="my-6">
    <h3 class="text-3xl mb-2" id="typographyName1">NOMBRE DE LA TIPOGRAFIA</h3>
    <p class="typographyExample" id="typographyExample1">
      <app-letters></app-letters>
    </p>
  </div>

  <div class="my-6">
    <h3 class="text-3xl mb-2" id="typographyName2">NOMBRE DE LA TIPOGRAFIA</h3>
    <p class="typographyExample" id="typographyExample2">
      <app-letters></app-letters>
    </p>
  </div>

  <app-color-palette [colors]="colors"></app-color-palette>
</section>

<!-- Caracteristicas-->
<section class="mainBoxTraumApp">
  <app-features-box [features]="features"></app-features-box>

  <!-- Agradecimientos -->
  <app-thanks-reading></app-thanks-reading>
</section>

<!-- Proyectos randoms -->
<section class="mainBoxTraumApp">
  <app-more-projects [projects]="ramdons"></app-more-projects>
</section>

<div
  [ngClass]="'darkModeButton ' + (isDarkMode ? 'backgroundDarkMode' : 'backgroundLightMode')"
  (click)="setDarksMode()"
>
  <mat-icon *ngIf="!isDarkMode" aria-hidden="false" aria-label="arrow">light_mode</mat-icon>
  <mat-icon *ngIf="isDarkMode" aria-hidden="false" aria-label="arrow">dark_mode</mat-icon>
</div>
