.titleLinkPlayStore{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBoxTraumApp {
  padding: 5rem 10rem;
}

.entryPage {
  background: transparent !important;
}

.resumeSection, .introductionSection, .introductionBox, .visualResult, .patientsSection, .patientsSection, .formsSection, .calendarSection, .configSection, .principalFeatures {
  transition: 1s;
}

.resumeSection {
  background-color: #002854;
  padding: 8rem 10rem;
}

.introductionSection {
  background-color: rgba(59, 176, 255, 0.8);
}

.titleSection {
  margin-bottom: 8rem;
}

.introductionBox { 
  border: 5px solid #DB2696;
}

.visualResult {
  background: linear-gradient(180deg, #2C023E, #B100FF);
  overflow-x: hidden;
}

.patientsSection {
  background: linear-gradient(180deg, #20A5FF, #002854);
}

.formsSection {
  background: linear-gradient(180deg,#002854, #20A5FF);
}

.calendarSection {
  background-color: #20A5FF;
}

.configSection {
  background: linear-gradient(180deg,#003E82, #8825B2);
}

.principalFeatures {
  background: linear-gradient(180deg,#2C023E, #111);
}

.logoSection {
  background: #111;
  display: flex;
  justify-content: center;
}

.patientsBox {
  border: 5px solid #3D3D3D;
}

.formsBox, .calendarBox, .configBox {
  border: 5px solid #4AE3CD;
}

.imgScreen, .imgPatients {
  height: 75vh;
}

.imgScreen, .imgPatients, .imgVisualResult {
  max-height: 800px;
}

.imgVisualResult {
  height: 50vw;
}

.visualResultItems {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
  margin-top: 6rem;
  transition: 1s;
  padding: 0px 20px;
}

.visualResultItemsRight {
  flex-direction: row-reverse;
}

.imgLeft {
  transform: rotate(-10deg);
}

.imgRight {
  transform: rotate(10deg);
}

.arrowCurve {
  align-self: flex-start;
  padding-top: 100px;
  width: 15vw;
}

.arrowCurveRight {
  transform: rotateY(180deg);
}

.arrowCurveLeft {
  transform: rotateY(0deg);
}

.visualResultDsc {
  padding-top: 200px;
  font-size: 22px;
}

.featureShowRight {
  opacity: 0;
  transform: translateX(60vw);
}

.featureShowLeft {
  opacity: 0;
  transform: translateX(-60vw);
}

.borderImages {
  border: 1.5px solid #333;
}

.patientsImagesBox, .formImagesBox, .configImagesBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.formImagesBox, .configImagesBox {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sliderImagesMainBox {
  max-width: 30%;
  position: relative;
}

.sliderImages {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.sliderImages > img {
  border: 1px solid #333;
  transition: 1.5s;
  width: 100%;
  height: auto;
  max-height: none;
  max-width: 700px;
}

.sliderPatientsDsc {
  width: 50%;
}

.hideRegisterPatientSlider {
  opacity: 0;
}

.dotBox {
  width: 100%;
  position: absolute;
  bottom: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dotPosition {
  height: 10px;
  width: 10px;
  margin: 0px 10px;
  transition: 0.5s;
  border-radius: 9999px;
  background-color: rgba(101, 101, 101, 0.5);
}

.dotActive {
  background: #656565 !important;
}

.arrowBox {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  border-radius: 9999px;
  background-color: #2B2B2B;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.arrowBox:hover {
  opacity: 0.8;
}

.arrowBoxLeft {
  left: -50px;
}

.arrowBoxRight {
  right: -50px;
}

.darkModeButton {
  position: fixed;
  right: 25px;
  bottom: 25px;
  padding: 15px;
  border-radius: 9999px;
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: 0.6s;
}

.backgroundLightMode {
  background: #EEE;
  color: #111;
  border: 1.5px solid #FFF;
}

.backgroundDarkMode {
  background: #333;
  border: 1.5px solid #FFF;
  color: #FFF;
}

.configRowBox, .principalFeatureRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3.5rem;
  transition: 1.5s;
}

.principalFeatureRow {
  justify-content: space-between;
  margin-bottom: 4rem;
}

.configRowBoxLeft, .principalFeatureRowLeft {
  flex-direction: row;
}

.configRowBoxRight, .principalFeatureRowRight {
  flex-direction: row-reverse;
}

.configColumnDsc, .principalFeatureDsc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configImages { 
  height: auto;
  width: 30%;
  max-width: 400px;
}

.configTitle, .principalFeatureTitle {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.configText, .principalFeatureText {
  width: 55%;
}

.configHideBox {
  transform: scale(0);
}

.principalFeatureHide {
  transform: scale(1);
}

.imageBoxFeature {
  width: 40%;
  display: flex;
  justify-content: center;
}

.principalFeaturesImage {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

.logoTraumapp {
  width: 250px;
  transition: 1.5s;
  opacity: 1;
}

.logoTraumappHide {
  opacity: 0;
}

@media only screen and (max-width: 1250px) {
  .mainBoxTraumApp {
    padding: 8rem 7rem;
  }
}

@media only screen and (max-width: 1150px) {
  .visualResultItems {
    padding: 0px 10px;
  }

  .mainBoxTraumApp {
    padding: 8rem 6rem;
  }
}

@media only screen and (max-width: 1085px) {
  .mainBoxTraumApp, .resumeSection{
    padding: 8rem 5rem;
  }

  .titleSection {
    margin-bottom: 5rem;
  }
}
  
@media only screen and (max-width: 1000px) {
  .mainBoxTraumApp, .resumeSection{
    padding: 7rem 4rem;
  }

  .visualResultDsc {
    padding-top: 150px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .mainBoxTraumApp, .resumeSection{
    padding: 5rem 1.5rem;
  }

  .titleSection {
    margin-bottom: 4rem;
  }

  .visualResultDsc {
    padding-top: 140px;
    font-size: 18px;
  }

  .imgPatients {
    height: 60vh;
  }
}

@media only screen and (max-width: 700px) {
  .titleSection {
    margin-bottom: 2rem;
  }

  .imgPatients {
    height: 55vh;
  }
}

@media only screen and (max-width: 650px) {
  .visualResultItems {
    flex-direction: column;
    align-items: center;
  }

  .imgVisualResult {
    height: auto;
    width: 50vw;
  }

  .imgLeft {
    transform: rotate(-5deg);
  }
  
  .imgRight {
    transform: rotate(5deg);
  }

  .visualResultDsc {
    padding-top: 70px;
  }

  .arrowCurveRight {
    align-self: flex-end;
    transform: rotateY(0deg) rotate(90deg);
  }
  
  .arrowCurveLeft {
    align-self: flex-start;
    transform: rotateY(180deg) rotate(90deg);
  }

  .arrowCurve {
    padding: 0;
    width: 20vw;
  }

  .patientsImagesBox, .formImagesBox, .configImagesBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .formImagesBox, .configImagesBox {
    margin: 0;
  }

  .formImagesBox > img, .configImagesBox > img {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .patientsImagesBox > img {
    margin: 20px 0px;
  }

  .imgPatients {
    height: 75vh;
  }

  .sliderImagesMainBox {
    max-width: 50%;
  }

  .sliderPatientsDsc {
    width: 80%;
    margin-top: 40px;
  }

  .configRowBoxLeft,  .configRowBoxRight, .principalFeatureRowRight, .principalFeatureRowLeft {
    flex-direction: column;
  }

  .configImages {
    width: 50%;
    margin-bottom: 30px;
  }

  .configText, .imageBoxFeature, .principalFeatureDsc {
    width: 90%;
  }

  .imageBoxFeature {
    margin-bottom: 20px;
  }

  .configRowBox {
    margin-bottom: 4rem;
  }

  .configTitle, .principalFeatureTitle {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 500px) {
  .imgScreen {
    height: auto;
    width: 100%;
  }

  .imgScreen, .imgPatients, .imgVisualResult {
    max-height: none;
  }
}

@media only screen and (max-width: 450px) {
  .imgPatients {
    height: auto;
    width: 100%;
  }

  .sliderImagesMainBox {
    max-width: 60%;
  }

  .sliderPatientsDsc {
    width: 90%;
  }

  .configTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}