<!-- Ficha resumen -->
<section class="resumeSection entryPage" id="resumeSection">
  <div class="text-center">
    <h1 class="text-4xl font-bold"> TraumApp </h1>
    <p class="text-center my-5 dsc" stranslate="traumapp.dsc">  </p>
  </div>

  <!-- Subtitulo del proyecto -->
  <div class="justify-between rolAgencyDate mt-2">
    <p class="my-1"><span stranslate="project.role"></span>&nbsp;<span stranslate="traumapp.role"></span> </p>
    <p class="my-1"><span stranslate="project.agency"></span> DearSoft Studios </p>
    <p class="my-1"><span stranslate="project.date"></span> 06-2021 </p>
  </div>

  <!-- Imagen principal del proyecto -->
  <div class="my-16 flex justify-center borderedBox boxUnique">
    <img
      src="../../../assets/images/project-images/traumapp/principalimg.png"
      class="imgScreen borderedBox"
      title="Menu Principal"
      alt="Menu principal"
    />
  </div>
</section>

<!-- Introduccion -->
<section class="introductionSection mainBoxTraumApp entryPage" id="introSection">
  <h5 class="text-center text-3xl font-bold titleSection" stranslate="project.introTitle"></h5>

  <div class="introductionBox p-4">
    <p class="text-justify intro" stranslate="traumapp.intro1"></p>
    <br>
    <p class="text-justify intro" stranslate="traumapp.intro2"></p>
    <br>
    <p class="text-justify intro" stranslate="traumapp.intro3"></p>
  </div>
</section>
  
<!-- Resultado visual -->
<section class="visualResult mainBoxTraumApp entryPage" id="visualResultSecion">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="project.visualRes"></h2>

  <!-- pantalla 1 -->
  <div class="visualResultItems" id="visualResult1">
    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgVisualResult borderedBox imgLeft"
      title=""
      alt=""
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt=""
      class="arrowCurve arrowCurveLeft"
      title=""
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult1"></p>
  </div>

  <!-- pantalla 2 -->
  <div class="visualResultItems visualResultItemsRight" id="visualResult2">
    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgVisualResult borderedBox imgRight"
      title=""
      alt=""
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt=""
      class="arrowCurve arrowCurveRight"
      title=""
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult2"></p>
  </div>

  <!-- pantalla 3 -->
  <div class="visualResultItems" id="visualResult3">
    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgVisualResult borderedBox imgLeft"
      title=""
      alt=""
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt=""
      class="arrowCurve arrowCurveLeft"
      title=""
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult3"></p>
  </div>

  <!-- pantalla 4 -->
  <div class="visualResultItems visualResultItemsRight" id="visualResult4">
    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgVisualResult borderedBox imgRight"
      title=""
      alt=""
    />
    <img
      src="../../../assets/images/project-images/traumapp/arrowFeatures.svg"
      alt=""
      class="arrowCurve arrowCurveRight"
      title=""
    />
    <p class="text-justify intro visualResultDsc" stranslate="traumapp.visualResult4"></p>
  </div>
</section>

<!-- Pacientes -->
<section class="patientsSection mainBoxTraumApp entryPage" id="patientsSection">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titlePatients"></h2>

  <div class="patientsBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscPatients"></p>
  </div>

  <!-- Pantalla de pacientes -->
  <div class="patientsImagesBox my-16">
    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgPatients borderedBox"
      title=""
      alt=""
    />

    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgPatients borderedBox"
      title=""
      alt=""
    />
  </div>

  <!-- Registro de pacientes -->
  <div class="patientsImagesBox my-16">
    <img
      src="../../../assets/images/project-images/traumapp/menuprincipalimg.png"
      class="imgPatients borderedBox"
      title=""
      alt=""
    />
    
    <p class="text-justify intro" stranslate="traumapp.registerPatients"></p>
  </div>
</section>

<!-- Informes -->
<section class="formsSection mainBoxTraumApp entryPage" id="formsSections">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titleForms"></h2>

  <div class="formsBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscForms"></p>
  </div>
</section>

<!-- Calendario -->
<section class="calendarSection mainBoxTraumApp entryPage" id="calendarSection">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titleCalendar"></h2>

  <div class="calendarBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscCalendar"></p>
  </div>
</section>

<!-- Configuracion -->
<section class="configSection mainBoxTraumApp entryPage" id="configSections">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.titleConfig"></h2>

  <div class="configBox p-4">
    <p class="text-justify intro" stranslate="traumapp.dscConfig"></p>
  </div>
</section>

<!-- Caracteristicas Principales -->
<section class="principalFeatures mainBoxTraumApp entryPage" id="principalFeatures">
  <h2 class="text-3xl text-center titleSection font-bold" stranslate="traumapp.principalFeatures"></h2>
</section>