.mainBoxTraumApp {
  padding: 5rem 10rem;
}

.resumeSection {
  background-color: #002854;
  padding: 8rem 10rem;
}

.introductionSection {
  background-color: rgba(59, 176, 255, 0.8);
}

.titleSection {
  margin-bottom: 4rem;
}

.introductionBox{ 
  border-color: #DB2696;
}

.visualResult {
  background: linear-gradient(180deg, #2C023E, #B100FF);
}

.patientsSection {
  background: linear-gradient(180deg, #20A5FF, #002854);
}