<div class="mainBox w-full">
  <div class="photo">
    <app-img-loader
      [src]="'../../assets/images/myself.png'"
      [title]="'Samuel Rojas'"
      [alt]="'Samuel Rojas'"
      [id]="'Samuel Rojas'"
      [classes]="'myself'"
      [height]="'300px'"
      class="w-full"
    ></app-img-loader>
  </div>
  <div class="dsc">
    <h2 class="tag title" stranslate="about.welcome"></h2>
    <p class="mb-4" stranslate="about.intro"></p>
    <p class="mb-4" stranslate="about.whatILike"></p>
    <p class="mb-4" stranslate="about.tec"></p>
    <p class="mb-4" stranslate="about.keepingUp"></p>
    <p class="mb-4" stranslate="about.contact"></p>
    <p class="mb-4" stranslate="about.spam"></p>

    <div class="cvBox text-center p-6 cursor-pointer" (click)="downloadCv()">
      <p class="cvText">Curriculum Vitae (PDF)</p>
    </div>

    <div class="flex boxSocialMedias w-full">
      <div class="flex flex-col w-2/4">
        <div class="mx-5 my-2">
          <a href="https://github.com/samuelDear" class="flex flex-row items-center" target="_blank">
            <img src="../assets/images/footer/git-icon.svg" alt="GitHub icon" title="GitHub" class="socialMedia" />
            <p class="ml-2">GitHub</p>
          </a>
        </div>

        <div class="mx-5 my-2">
          <a href="https://twitter.com/SamuelDear15" class="flex flex-row items-center" target="_blank">
            <img
              src="../assets/images/footer/twitter-icon.svg"
              alt="Twitter icon"
              title="Twitter"
              class="socialMedia"
            />
            <p class="ml-2">Twitter</p>
          </a>
        </div>
      </div>

      <div class="flex flex-col w-2/4">
        <div class="mx-5 my-2">
          <a href="https://www.linkedin.com/in/samueldear/" class="flex flex-row items-center" target="_blank">
            <img src="../assets/images/footer/lkn-icon.svg" alt="Linkedin icon" title="Linkedin" class="socialMedia" />
            <p class="ml-2">Linkedin</p>
          </a>
        </div>

        <div class="mx-5 my-2">
          <a href="https://www.instagram.com/samuel.dugarte/" class="flex flex-row items-center" target="_blank">
            <img src="../assets/images/footer/ig-icon.svg" alt="Instagram icon" title="Instagram" class="socialMedia" />
            <p class="ml-2">Instagram</p>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-12 text-center">
      <span stranslate="copy" class="copyri"></span>
    </div>
  </div>
</div>
