<div class="mainBox flex flex-row w-full">
  <div class="border-2 w-2/4">
    <svg version="1.1"
     baseProfile="full" viewBox="0 0 200 200"
     xmlns="http://www.w3.org/2000/svg">
     <pattern id="myself" height="100%" width="100%" viewBox="0 0 200 200">
       <image width="200" height="200" href="../assets/images/triangle/react-icon.svg"/>
     </pattern>
     <rect width="200" height="200" id="me" />
     <use href="#me" fill="url(#myself)"/>
    </svg>
  </div>
  <div class="border-2 w-2/4 dsc">
    <h2 class="tag title" stranslate="about.welcome"></h2>
    <p class="mb-4 text-justify" stranslate="about.intro"></p>
    <p class="mb-4 text-justify" stranslate="about.whatILike"></p>

    <div class="flex flex-row w-full">

      <div class="flex flex-col w-2/4">
        <div class="mx-5 my-2">
          <a href="#" class="flex flex-row items-center">
            <img src="../assets/images/footer/git-icon.svg" alt="GitHub icon"
            title="GitHub" class="socialMedia">
            <p class="ml-2">GitHub</p>
          </a>
        </div>

        <div class="mx-5 my-2">
          <a href="#" class="flex flex-row items-center">
            <img src="../assets/images/footer/twitter-icon.svg" alt="Twitter icon"
            title="Twitter" class="socialMedia">
            <p class="ml-2">Twitter</p>
          </a>
        </div>
      </div>

      <div class="flex flex-col w-2/4">
        <div class="mx-5 my-2">
          <a href="#" class="flex flex-row items-center">
            <img src="../assets/images/footer/lkn-icon.svg" alt="Linkedin icon"
            title="Linkedin" class="socialMedia">
            <p class="ml-2">Linkedin</p>
          </a>
        </div>

        <div class="mx-5 my-2">
          <a href="#" class="flex flex-row items-center">
            <img src="../assets/images/footer/ig-icon.svg" alt="Instagram icon"
            title="Instagram" class="socialMedia">
            <p class="ml-2">Instagram</p>
          </a>
        </div>
      </div>
    </div>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    <p>a</p>
    
  </div>
</div>
