.mainBox {
  margin-top: 100px;
}

.dsc {
  padding: 45px;
  position: absolute;
  right: 0;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.photo {
  position: fixed;
    height: 100%;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    top: 0
}
