.mainBox {
  margin: 0rem 0rem;
  margin-top: 90px;
}

.boxSocialMedias {
  flex-direction: row;
}

.dsc {
  padding: 45px 75px 45px 45px;
  position: absolute;
  right: 0;
  width: 50%;
}

.title {
  font-weight: bold;
  font-size: 250%;
}

.photo {
  position: fixed;
  height: 100%;
  width: 50%;
  background-color: #CCC;
  display: block;
  top: 0;
}

.cvBox {
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid #4ae3cd;
  transition: 2s;
}

.cvBox:hover {
  background: linear-gradient(59deg, #111111,rgba(219, 38, 150, 0.5), rgba(74, 227, 205, 0.5));
  background-size: 800% 800%;
  border: 1px solid #38ca13;

  -webkit-animation: Raimbow 4s ease infinite;
  -moz-animation: Raimbow 4s ease infinite;
  -o-animation: Raimbow 4s ease infinite;
  animation: Raimbow 4s ease infinite;
}

@-webkit-keyframes Raimbow {
  0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Raimbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes Raimbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes Raimbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

.cvText{
  font-family: monospace;
  color: #4ae3cd;
  font-size: 120%;
}

.cvBox:hover > .cvText{
  color:#38ca13;
}

.copyri{
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 10px;
}

@media only screen
and (max-width : 1100px) {
  .cvBox{
    width: 80%;
  }

  .cvText {
    font-size: 110%;
  }
}

@media only screen
and (max-width : 1000px) {
  .mainBox{
    margin: 0;
    margin-top: 55px;
  }

  .photo {
    position: initial;
    height: auto;
    width: 100%;
  }

  .dsc {
    width: 100%;
    padding: 40px 55px 40px 40px;
  }
}

@media only screen
and (max-width : 550px) {
  .cvBox{
    width: 85%;
    padding: 1rem;
  }

  .cvText {
    font-size: 90%;
  }

  .boxSocialMedias {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

@media only screen
and (max-width : 450px) {

  .dsc {
    padding: 30px 40px 40px 45px;
  }

  .cvBox{
    width: 90%;
    padding: 0.75rem;
  }

  .cvText {
    font-size: 85%;
  }
}
