<div class="mainBox">
    <!-- Titulo de AFX trade y mini descripcion-->
    <div class="text-center">
      <h1 class="text-4xl font-bold"> AFX TRADE </h1>
      <p class="text-center my-5 dsc" stranslate="afxtrade.dsc"></p>
    </div>

    <!-- Detalles del proyecto -->
    <div class="justify-between rolAgencyDate mt-2">
      <p class="my-1"><span stranslate="project.role"></span>&nbsp;<span stranslate="afxtrade.role"></span></p>
      <p class="my-1"><span stranslate="project.agency"></span><span> Totalsoftware </span></p>
      <p class="my-1"><span stranslate="project.date"></span> 12/2020 </p>
    </div>

    <!-- Imagen principal -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/principalimg.png" class="h-full borderedBox">
    </div>

    <!-- Introduccion al proyecto -->
    <div class="boxProject border-2 p-4">
        <h5 class="text-center text-3xl font-bold mb-2" stranslate="project.introTitle"></h5>
        <p class="text-justify intro" stranslate="afxtrade.intro1"></p>
        <p class="text-justify intro" stranslate="afxtrade.intro2"></p>
    </div>

    <!-- Titulo resultado visual -->
    <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.visualRes"></h2>

    <!-- Login del sistema -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/loginimg.png" class="h-full borderedBox">
    </div>

    <!-- Balances -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/secundaryimg.png" class="h-full borderedBox">
    </div>

    <!-- Deposito fiat -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/depositfiat.png" class="h-full borderedBox">
    </div>

    <!-- Deposito crypto -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/depositcrypto.png" class="h-full borderedBox">
    </div>

    <!-- Movimientos -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/transactionsimg.png" class="h-full borderedBox">
    </div>

    <!-- Mensajeria -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/comunicationsimg.png" class="h-full borderedBox">
    </div>

    <!-- Enviar mensaje -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/sendmsgimg.png" class="h-full borderedBox">
    </div>

    <!-- Imagen del perfil -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/profileimg.png" class="h-full borderedBox">
    </div>

    <!-- Integraciones -->
    <div class="boxProject border-2 p-4">
        <h5 class="text-center text-3xl font-bold mb-2" stranslate="afxtrade.integrationsTitle"></h5>
        <p class="text-justify intro" stranslate="afxtrade.integrationsDsc"></p>
    </div>

    <!-- Icono de monedas -->
    <div class="criptoMain mt-16">
        <!-- Bs -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.bsIntegration"></span>
                <img class="criptoIcon" src="../../../assets/images//project-images/afxtrade/Bolivares.svg"/>
            </div>
            <h1 class="criptoName">Bolívares</h1>
        </div>

        <!-- BTC -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.bitcoinIntegration"></span>
                <img class="criptoIcon" src="../../../assets/images//project-images/afxtrade/Bitcoin.svg"/>
            </div>
            <h1 class="criptoName">Bitcoin</h1>
        </div>

        <!-- PTR -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.petroIntegration"></span>
                <img class="criptoIcon" src="../../../assets/images//project-images/afxtrade/Petro.svg"/>
            </div>
            <h1 class="criptoName">Petro</h1>
        </div>

        <!-- USD -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.dolarIntegration"></span>
                <img class="criptoIcon" src="../../../assets/images//project-images/afxtrade/Dolar.svg"/>
            </div>
            <h1 class="criptoName">Dolar</h1>
        </div>

        <!-- PM BP -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.pagoMovilIntegration"></span>
                <img class="criptoIcon" src="../../../assets/images//project-images/afxtrade/pago-movil.svg"/>
            </div>
            <h1 class="criptoName">Pago móvil</h1>
        </div>

        <!-- USDT -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.usdtIntegration"></span>
                <img class="criptoIcon" src="../../../assets/images//project-images/afxtrade/USDT.svg"/>
            </div>
            <h1 class="criptoName">Tether</h1>
        </div>

        <!-- DASH -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.dashIntegration"></span>
                <img class="criptoIcon criptoIconDisabled" src="../../../assets/images//project-images/afxtrade/Dash.svg"/>
            </div>
            <h1 class="criptoName criptoIconDisabled">Dash</h1>
        </div>
        
        <!-- ETH -->
        <div class="criptoIconBox">
            <div class="tooltipBox">
                <span class="tooltiptx" stranslate="afxtrade.etherumIntegration"></span>
                <img class="criptoIcon criptoIconDisabled" src="../../../assets/images//project-images/afxtrade/Ethereum.svg"/>
            </div>
            <h1 class="criptoName criptoIconDisabled">Ethereum</h1>
        </div>
    </div>

    <!-- Caracteristicas principales -->
    <div class="flex flex-col my-16 featureMainBox">
        <!-- SEGURIDAD -->
        <div id="segurityBox" class="featureMainBoxRight my-16">
            <div class="featureItem flex justify-center">
                <img class="segurityIc" src="../../../assets/images/project-images/afxtrade/segurityIc.svg"/>
            </div>
            <div class="featureItem mainFeatureRight">
                <h1 class="mainFeatureTitle" stranslate="afxtrade.segurityTitle"></h1>
                <p class="mainFeatureDsc" stranslate="afxtrade.segurityDsc"></p>
            </div>
        </div>

        <!-- COMUNICACION -->
        <div id="comBox" class="featureMainBoxLeft my-16">
            <div class="featureItem mainFeatureLeft">
                <h1 class="mainFeatureTitle" stranslate="afxtrade.comTitle"></h1>
                <p class="mainFeatureDsc" stranslate="afxtrade.comDsc"></p>
            </div>
            <div class="featureItem flex justify-center">
                <img class="comunicationsIc" src="../../../assets/images/project-images/afxtrade/comunicationsIc.svg"/>
            </div>
        </div>

        <!-- MOVIMIENTOS -->
        <div id="movementsBox" class="featureMainBoxRight my-16">
            <div class="featureItem flex justify-center">
                <img class="movementsIc" src="../../../assets/images/project-images/afxtrade/transactionsIc.svg"/>
            </div>
            <div class="featureItem mainFeatureRight">
                <h1 class="mainFeatureTitle" stranslate="afxtrade.movementTitle"></h1>
                <p class="mainFeatureDsc" stranslate="afxtrade.movementDsc"></p>
            </div>
        </div>

        <!-- INTERCAMBIOS -->
        <div id="exchangeBox" class="featureMainBoxLeft my-16">
            <div class="featureItem mainFeatureLeft">
                <h1 class="mainFeatureTitle" stranslate="afxtrade.exchangeTitle"></h1>
                <p class="mainFeatureDsc" stranslate="afxtrade.exchangeDsc"></p>
            </div>
            <div class="featureItem flex justify-center">
                <img class="exchangesIc" src="../../../assets/images/project-images/afxtrade/exchangeIc.svg"/>
            </div>
        </div>
    </div>

    <!-- COMIENZO CMS -->
    <h5 class="text-center text-3xl font-bold my-16" stranslate="afxtrade.cmstitle"></h5>

    <div class="boxProject border-2 p-4 my-16">
        <p class="text-justify intro" stranslate="afxtrade.cmsintro1"></p>
        <br />
        <p class="text-justify intro" stranslate="afxtrade.cmsintro2"></p>
    </div>
    <!-- FIN CMS-->

    <!-- Correo recuperar password -->
    <div class="my-16 flex justify-center borderedBox borderImages">
        <img src="../../../assets/images/project-images/afxtrade/emailimg.png" class="h-full borderedBox">
    </div>

    <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.typoColor"></h2>
    
    <!-- TIPOGRAFIAS -->
    <div>
        <div class="my-6">
            <h3 class="text-3xl mb-2" id="typographyName1">NOMBRE DE LA TIPOGRAFIA</h3>
            <p class="typographyExample" id="typographyExample1">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
        </div>

        <div class="my-6">
            <h3 class="text-3xl mb-2" id="typographyName2">NOMBRE DE LA TIPOGRAFIA</h3>
            <p class="typographyExample" id="typographyExample2">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
        </div>
    </div>

    <!-- PALETA DE COLORES -->
    <div class="colorMain">
        <div class="colorBox">
            <div class="colorContent" style="background-color: #4287CE;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#4287CE</p>
        </div>

        <div class="colorBox">
            <div class="colorContent" style="background-color: #85BB4F;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#85BB4F</p>
        </div>

        <div class="colorBox">
            <div class="colorContent" style="background-color: #C04F5D;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#C04F5D</p>
        </div>
        
        <div class="colorBox">
          <div class="colorContent" style="background-color: #D5DCE5;">
          </div>
          <p class="text-black text-center mt-2 font-bold">#D5DCE5</p>
      </div>
    </div>

    <!-- CARACTERISTICAS -->
    <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.features"></h2>

    <div>
        <div class="my-12 flex flex-col items-center">
            <div class="featureBox my-4 border-2 p-4">
              <h6 class="text-2xl titleFeature text-center" stranslate="afxtrade.featuretitle1"></h6>
              <p class="text-justify" stranslate="afxtrade.feature1"></p>
            </div>
        </div>

        <div class="my-12 flex flex-col items-center">
            <div class="featureBox my-4 border-2 p-4">
              <h6 class="text-2xl titleFeature text-center" stranslate="afxtrade.featuretitle2"></h6>
              <p class="text-justify" stranslate="afxtrade.feature2"></p>
            </div>
        </div>

        <div class="my-12 flex flex-col items-center">
            <div class="featureBox my-4 border-2 p-4">
              <h6 class="text-2xl titleFeature text-center" stranslate="afxtrade.featuretitle3"></h6>
              <p class="text-justify" stranslate="afxtrade.feature3"></p>
            </div>
        </div>

        <div class="my-12 flex flex-col items-center">
            <div class="featureBox my-4 border-2 p-4">
              <h6 class="text-2xl titleFeature text-center" stranslate="afxtrade.featuretitle4"></h6>
              <p class="text-justify" stranslate="afxtrade.feature4"></p>
            </div>
        </div>

        <div class="my-12 flex flex-col items-center">
            <div class="featureBox my-4 border-2 p-4">
              <h6 class="text-2xl titleFeature text-center" stranslate="afxtrade.featuretitle5"></h6>
              <p class="text-justify" stranslate="afxtrade.feature5"></p>
            </div>
        </div>

        <div class="my-12 flex flex-col items-center">
            <div class="featureBox my-4 border-2 p-4">
              <h6 class="text-2xl titleFeature text-center" stranslate="afxtrade.featuretitle6"></h6>
              <p class="text-justify" stranslate="afxtrade.feature6"></p>
            </div>
        </div>

    </div>

    <div class="my-8 mx-auto w-3/4">
        <p class="text-center text-3xl" stranslate="project.thanks"></p>
        <div class="heart"></div>
        <p class="text-center"><span stranslate="project.hereMore"></span><span class="underline cursor-pointer" stranslate="project.aboutLink" routerLink="/about"></span></p>
    </div>
</div>
  