<div class="flex flex-row w-full min-h-screen">
  <div class="w-1/6 min-h-screen">
    <app-slidemenu></app-slidemenu>
  </div>
  <div class="w-5/6 min-h-screen">
    <div class="m-10">
      <h1 class="text-4xl m-auto text-center underline">CMS - Estudios</h1>
      <div class="w-full flex justify-end mb-2">
        <span class="circlePlus" [routerLink]="['/cms/studies-edit', 0]"></span>
      </div>
      <table class="w-full" border="1">
        <tr>
          <th class="bg-teal-700 m-2 p-2">ID</th>
          <th class="bg-teal-700 m-2 p-2">Titulo</th>
          <th class="bg-teal-700 m-2 p-2">Fecha</th>
          <th class="bg-teal-700 m-2 p-2">Instituto</th>
          <th class="bg-teal-700 m-2 p-2"></th>
        </tr>
        <tr *ngFor="let study of studies; let i = index">
          <td class="text-center font-bold">{{ study.id }}</td>
          <td class="text-center font-bold">{{ study.title }}</td>
          <td class="text-center font-bold">{{ study.datecreated }}</td>
          <td class="text-center font-bold">{{ study.institute }}</td>
          <td class="flex"><button type="button" class="cursor-pointer py-2 px-6 border-2 mx-auto" [routerLink]="['/cms/studies-edit', study.id]">Ver</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
