.mainBox{
  margin: 110px 100px 0px 100px;
}

.navigationMenu {
  font-weight: 500;
  font-size: 150%;
}

li {
  margin: 15px 0px;
}

.navItem {
  transition: 2s;
}
.navItem:hover {
  background-color: #db2696;
  color: #999;
}

select {
  background-color: #111;
}

@media only screen
and (max-width : 700px) {
  .mainBox{
    margin: 100px 30px 0px 30px;
  }
}

@media only screen
and (max-width : 450px) {
  .mainBox{
    margin: 100px 30px 0px 30px;
  }

  .navigationMenu {
    font-size: 130%;
  }
}

@media only screen
and (max-width : 350px) {
  .mainBox{
    margin: 100px 30px 0px 30px;
  }

  .navigationMenu {
    font-size: 120%;
  }
}
