<section class="mainBox">
  <nav class="navigationMenu">
    <ul>
      <li>
        <a class="cursor-pointer" (click)="navigation('/')">
          <div class="w-full navItem">
            <span>{{ 'homeLink' | translate }}</span>
          </div>
        </a>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigationFragment('/', 'projects')">
          <div class="w-full navItem">
            <span>{{ 'projectsLink' | translate }}</span>
          </div>
        </a>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigation('/studies')">
          <div class="w-full navItem">
            <span>{{ 'studies' | translate }}</span>
          </div>
        </a>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigationFragment('/', 'knowlegde')">
          <div class="w-full navItem">
            <span>{{ 'knowlegdeLink' | translate }}</span>
          </div>
        </a>
      </li>

      <li>
        <div class="w-full whodesignthisbro">
          <span>{{ 'whoDesigned' | translate }}</span>
        </div>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigation('/about')">
          <div class="w-full navItem">
            <span>{{ 'aboutLink' | translate }}</span>
          </div>
        </a>
      </li>

      <li>
        <div class="selectBoxLang">
          <select class="border-white border-2 mr-4 px-3" #langselect (change)="changeLocale(langselect.value)">
            <option value="es" [selected]="currentLang === 'es' ? true : false">ESP</option>
            <option value="en" [selected]="currentLang === 'en' ? true : false">ENG</option>
          </select>
        </div>
      </li>
    </ul>
  </nav>
</section>
