<section class="mainBox">
  <nav class="navigationMenu">
    <ul>
      <li>
        <a routerLink="/">
          <div class="w-full navItem">
            HOME
          </div>
        </a>
      </li>

      <li>
        <a routerLink="/" fragment="projects">
          <div class="w-full navItem" >
            PROJECTS
          </div>
        </a>
      </li>

      <li>
        <a routerLink="/" fragment="knowlegde">
          <div class="w-full navItem">
            KNOWLEDGE
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="w-full navItem">
            WHO DESIGNED THIS?
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="w-full navItem">
            ABOUT ME
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="w-full navItem">
            INGLISH
          </div>
        </a>
      </li>
    </ul>
  </nav>
</section>
