<section class="mainBox">
  <nav class="navigationMenu">
    <ul>
      <li>
        <a class="cursor-pointer" (click)="navigation('/')">
          <div class="w-full navItem">
            <span stranslate="slideMenu.homeLink"></span>
          </div>
        </a>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigationFragment('/','projects')">
          <div class="w-full navItem" >
            <span stranslate="slideMenu.projectsLink"></span>
          </div>
        </a>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigation('/studies')">
          <div class="w-full navItem">
            <span stranslate="slideMenu.studies"></span>
          </div>
        </a>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigationFragment('/','knowlegde')">
          <div class="w-full navItem">
            <span stranslate="slideMenu.knowlegdeLink"></span>
          </div>
        </a>
      </li>

      <li>
        <div class="w-full">
          <span stranslate="slideMenu.whoDesigned"></span>
        </div>
      </li>

      <li>
        <a class="cursor-pointer" (click)="navigation('/about')">
          <div class="w-full navItem">
            <span stranslate="slideMenu.aboutLink"></span>
          </div>
        </a>
      </li>

      <li>
          <div>
            <select class="border-white border-2 mr-4 px-3" #langselect (change)="translate.use(langselect.value)" >
              <option value="es" [selected]="currentLang == 'es' ? true : false">ESP</option>
              <option value="en" [selected]="currentLang == 'en' ? true : false">ENG</option>
            </select>
          </div>
      </li>
    </ul>
  </nav>
</section>
