<div class="mainBox">
    <div class="text-center">
      <h1 class="text-4xl font-bold"> FJC Intranet </h1>
      <p class="text-center my-5 dsc" stranslate="fjcintranet.dsc">  </p>
    </div>

    <!-- Subtitulo del proyecto -->
    <div class="justify-between rolAgencyDate mt-2">
      <p class="my-1"><span stranslate="project.role"></span>&nbsp;<span stranslate="fjcintranet.role"></span> </p>
      <p class="my-1"><span stranslate="project.agency"></span> Fundaci&oacute;n Jacinto Convit </p>
      <p class="my-1"><span stranslate="project.date"></span> 09-2019 </p>
    </div>

    <!-- Imagen principal del proyecto -->
    <div class="my-16 flex justify-center borderedBox">
      <app-img-loader
        [src]="'../../../assets/images/project-images/fjcintranet/principalimg.png'"
        [title]="'Login Intranet Fundacion Jacinto Convit'"
        [alt]="'Login Intranet Fundacion Jacinto Convit'"
        [id]="'LoginIntranet'"
        [classes]="'borderedBox img-height'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <!-- Descripcion del proyecto general -->
    <div class="boxProject border-2 p-4">
      <h5 class="text-center text-3xl font-bold" stranslate="project.introTitle"></h5>
        <p class="text-justify intro" stranslate="fjcintranet.intro"></p>
        <p class="text-justify intro" stranslate="fjcintranet.intro2"></p>
    </div>

    <!-- Imagen secundaria del proyecto-->
    <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.visualRes"></h2>
    <div class="mb-16 flex justify-center borderedBox">
      <app-img-loader
        [src]="'../../../assets/images/project-images/fjcintranet/secundaryimg.png'"
        [title]="'Menú principal Intranet'"
        [alt]="'Menú principal Intranet'"
        [id]="'principalMenu'"
        [classes]="'borderedBox img-height'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <!-- Imagen secundaria del proyecto 2-->
    <div class="mb-16 flex justify-center borderedBox">
      <app-img-loader
        [src]="'../../../assets/images/project-images/fjcintranet/calendar.png'"
        [title]="'Calendario de actividades'"
        [alt]="'Calendario de actividades'"
        [id]="'calendarActivities'"
        [classes]="'borderedBox img-height'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <!-- Vista desde laptop -->
    <div>
      <div class="my-16 flex flex-col items-center">
        <div class="border-2 p-2 boxLaptopScreen border-b-0 borderedBox boxProject">
          <app-img-loader
            [src]="'../../../assets/images/project-images/fjcintranet/laptopimg.png'"
            [title]="'Auditoría de documentos'"
            [alt]="'Auditoría de documentos'"
            [id]="'documentAudit'"
            [classes]="'w-full'"
            [height]="'250px'"
            class="w-full"
          ></app-img-loader>
        </div>
        <div class="border-2 boxLaptopKeyboard boxProject">
          <div class="mouseTrack border-2 border-t-0 m-auto boxProject">
          </div>
        </div>
      </div>
    </div>

    <!-- CMS VISTAS -->
    <h2 class="text-3xl text-center my-16 font-bold" stranslate="fjcintranet.cmsresult"></h2>

    <!-- Descripion breve del CMS -->
    <div class="boxProjectfjcCMS border-2 p-4 mb-16">
      <p class="text-justify intro" stranslate="fjcintranet.intro3"></p>
      <p class="text-justify intro" stranslate="fjcintranet.intro4"></p>
    </div>

    <!-- Imagen secundaria del proyecto cms-->
    <div class="mb-16 flex justify-center borderedBox">
      <app-img-loader
        [src]="'../../../assets/images/project-images/fjcintranet/cms1.png'"
        [title]="'Control de usuarios desde el CMS'"
        [alt]="'Control de usuarios'"
        [id]="'userAdmin'"
        [classes]="'borderedBox img-height'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <!-- Imagen secundaria del proyecto cms-->
    <div class="mb-16 flex justify-center borderedBox">
      <app-img-loader
        [src]="'../../../assets/images/project-images/fjcintranet/cms2.png'"
        [title]="'Lista de departamentos'"
        [alt]="'Lista de departamentos'"
        [id]="'documentList'"
        [classes]="'borderedBox img-height'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <div class="mb-16 flex justify-center">
      <app-img-loader
        [src]="'../../../assets/images/project-images//fjcintranet//jcLogo.svg'"
        [title]="'Logo Fundacion Jacinto Convit'"
        [alt]="'Logo Fundacion Jacinto Convit'"
        [id]="'logoJacintoConvit'"
        [classes]="'JClogo'"
        [height]="'200px'"
        class="w-full"
      ></app-img-loader>
    </div>
  
    <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.typoColor"></h2>

    <!-- Tipografia de la pagina-->
    <div>
      <div class="my-6">
        <h3 class="text-3xl mb-2" id="typographyName1">NOMBRE DE LA TIPOGRAFIA</h3>
        <p class="typographyExample" id="typographyExample1">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
      </div>

      <div class="my-6">
        <h3 class="text-3xl mb-2" id="typographyName2">NOMBRE DE LA TIPOGRAFIA</h3>
        <p class="typographyExample" id="typographyExample2">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
      </div>
    </div>

    <!-- Colores de la pagina -->
    <div class="colorMain">
      <div class="colorBox">
        <div class="colorContent" style="background-color: #3F5486;">
        </div>
        <p class="text-black text-center mt-2 font-bold">#3F5486</p>
      </div>

      <div class="colorBox">
        <div class="colorContent" style="background-color: #00AE89;">
        </div>
        <p class="text-black text-center mt-2 font-bold">#00AE89</p>
      </div>

      <div class="colorBox">
        <div class="colorContent" style="background-color: #BC0202;">
        </div>
        <p class="text-black text-center mt-2 font-bold">#BC0202</p>
      </div>

      <div class="colorBox">
        <div class="colorContent" style="background-color: #FFD439;">
        </div>
        <p class="text-black text-center mt-2 font-bold">#FFD439</p>
      </div>
    </div>
    
    <app-features-box [features]="features"></app-features-box>

    <!-- Agradecimientos -->
    <div class="my-8 mx-auto w-3/4">
      <p class="text-center text-3xl" stranslate="project.thanks"></p>
      <div class="heart"></div>
      <p class="text-center"><span stranslate="project.hereMore"></span><span class="underline cursor-pointer" stranslate="project.aboutLink" routerLink="/about"></span></p>
    </div>
  
    <div class="my-8 mx-auto w-3/4">
      <p class="text-center text-2xl" stranslate="project.otherWork"></p>
    </div>

    <!-- Proyectos randoms -->
    <div class="my-16">
      <div class="boxProject border-2 {{ i % 2 == 0 ? 'randomProjectsBoxOdd' : 'randomProjectsBoxPair' }} slide p-5 flex flex-row justify-between my-5 cursor-pointer" *ngFor="let random of ramdons;let i = index" (click)="navigateUrl(random.code)">
        <div>
          <h6 class="text-2xl"> {{ random.name }}</h6>
          <p class="ml-4">{{ translate.currentLang == "es" ? random.es.resume : random.en.resume }}</p>
        </div>
        <div class="flex flex-row items-center">
          <span class="block stick"></span>
          <div>
            <span class="block stick-arrow stick-top"></span>
            <span class="block stick-arrow stick-bottom"></span>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  