.boxProjectfjcCMS {
  border-color: #3F5486;
}

.showLogo {
  opacity: 0;
  transform: scale(0);
}

/*Logo Jacinto Convit*/
.JClogo {
  transition: 1s;
  width: 20vw;
  min-width: 50px;
  max-width: 100px;
  margin: auto;
}
