<div class="flex flex-row w-full min-h-screen">
  <div class="w-1/6 min-h-screen">
    <div class="w-1/6 fixed min-h-screen sideMenu text-gray-900 font-semibold">
      <h1 class="text-2xl m-auto text-center mt-4">Menu</h1>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('home')">
        <p class="text-center">Home</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('projects')">
        <p class="text-center">Proyectos</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('colors')">
        <p class="text-center">Colores</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate(features)">
        <p class="text-center">Caracteristicas</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('typographies')">
        <p class="text-center">Tipograficas</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="logout()">
        <p class="text-center">Cerrar sesi&oacute;n</p>
      </div>
    </div>
  </div>
  <div class="w-5/6 min-h-screen">
    <div class="m-10">
      <h1 class="text-4xl m-auto text-center underline">CMS - Proyectos</h1>
      <div class="w-full flex justify-end mb-2">
        <span class="circlePlus" [routerLink]="['/cms/project-edit', 0]"></span>
      </div>
      <table class="w-full" border="1">
        <tr>
          <th class="bg-teal-700 m-2 p-2">ID</th>
          <th class="bg-teal-700 m-2 p-2">Codigo</th>
          <th class="bg-teal-700 m-2 p-2">Nombre</th>
          <th class="bg-teal-700 m-2 p-2">Resumen ES</th>
          <th class="bg-teal-700 m-2 p-2">Resumen EN</th>
          <th class="bg-teal-700 m-2 p-2"></th>
        </tr>
        <tr *ngFor="let project of projects; let i = index">
          <td class="text-justify font-bold">{{ project.id }}</td>
          <td class="text-justify font-bold">{{ project.code }}</td>
          <td class="text-justify font-bold">{{ project.name }}</td>
          <td class="text-justify font-bold">{{ project.es.resume }}</td>
          <td class="text-justify font-bold">{{ project.en.resume }}</td>
          <td><button type="button" class="cursor-pointer py-2 px-6 border-2" [routerLink]="['/cms/project-edit', project.id]">Ver</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
