table {
  border-spacing: 5px;
  border-collapse: separate;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
    background-color: #222;
    transition: 1s;
}
tr:nth-child(even) {
    background-color: #444;
    transition: 1s;
}

.sideMenu{
  background-color: #42beac;
}

.buttonHover {
  transition: 1s;
}

.buttonHover:hover{
  background-color: #3b8a7e;
  color: #111;
}
