table {
  border-spacing: 5px;
  border-collapse: separate;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
    background-color: #222;
    transition: 1s;
}
tr:nth-child(even) {
    background-color: #444;
    transition: 1s;
}

.circlePlus::before {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #42beac;
  content: '+';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #111;
  cursor: pointer;
  outline: 0;
}

.circlePlus:focus{
  outline: 0;
}
