.backgroundIntro {
  background: linear-gradient(180deg, #111 10%, #002854 50%, #2c023e 100%);
}

.backgroundDoc {
  background: linear-gradient(180deg, #2c023e 0%, #2c023e 100%);
}

.backgroundMembership {
  background: linear-gradient(180deg, #2c023e 0%, #111 100%);
}
