.sideMenu{
  background-color: #42beac;
}

.buttonHover {
  transition: 1s;
}

.buttonHover:hover{
  background-color: #3b8a7e;
  color: #111;
}

button, input {
  height: 40px;
  border-radius: 15px;
  outline: 0;
}

input {
  text-indent: 15px;
  background-color: #999;
}

input:-moz-read-only,
input:read-only {
  background-color: #333 !important;
}


textarea{
  border-radius: 15px;
  outline: 0;
  background-color: #999;
  text-align: justify;
}

button:hover {
  color: #111;
  background-color: #4ae3cd;
}

::placeholder{
  color: #FFF;
}

.titleBox{
  border-bottom: 2px solid #db2696;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: rgba(0,0,0,0.2);
}

.circlePlus::before {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #42beac;
  content: '+';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #222;
  cursor: pointer;
  outline: 0;
}

.circlePlus:focus{
  outline: 0;
}

.circleLess::before {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #db265d;
  content: '-';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #222;
  cursor: pointer;
  outline: 0;
}

.circleLess:focus{
  outline: 0;
}

.colorRepre {
  height: 20px;
  width: 20px;
  display: block;
}
