<div class="flex flex-row w-full min-h-screen">
  <div class="w-1/6 min-h-screen">
    <div class="w-1/6 fixed min-h-screen sideMenu text-gray-900 font-semibold">
      <h1 class="text-2xl m-auto text-center mt-4">Menu</h1>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('home')">
        <p class="text-center">Home</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('projects')">
        <p class="text-center">Proyectos</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="logout()">
        <p class="text-center">Cerrar sesi&oacute;n</p>
      </div>
    </div>
  </div>
  <div class="w-5/6 min-h-screen">
    <form class="m-10 flex flex-col" autocomplete="off" role="form" [formGroup]="editForm" (ngSubmit)="save()">
      <h1 class="text-4xl m-auto text-center underline">Editar o Crear Proyecto</h1>

      <div class="flex flex-col w-full">
        <div class="titleBox">
          <h3 class="text-3xl text-left">Datos Basicos</h3>
        </div>
        <div class="flex flex-row my-4">
          <div class="flex flex-col ml-5 w-1/5">
            <label for="code">Codigo:</label>
            <input class="ml-2" type="text" id="code" placeholder="Codigo..." formControlName="code" autocomplete="new-line">
          </div>
          <div class="flex flex-col ml-5 w-1/5">
            <label for="nameProject">Nombre:</label>
            <input class="ml-2" type="text" id="nameProject" placeholder="Nombre..." formControlName="name" autocomplete="new-line">
          </div>
          <div class="flex flex-col ml-5 w-1/5">
            <label for="dateCreated">Fecha:</label>
            <input class="ml-2" type="date" id="dateCreated" formControlName="datecreated">
          </div>
        </div>

        <div class="flex flex-row my-4">
          <div class="flex flex-col ml-5 w-1/5">
            <label for="rolEs">Rol ES:</label>
            <input class="ml-2" type="text" id="rolEs" placeholder="Rol..." autocomplete="new-line" formControlName="rolEs">
          </div>
          <div class="flex flex-col ml-5 w-1/5">
            <label for="rolEn">Rol EN:</label>
            <input class="ml-2" type="text" id="rolEn" placeholder="Role..." autocomplete="new-line" formControlName="rolEn">
          </div>
          <div class="flex flex-col ml-5 w-1/5">
            <label for="empresaEs">Empresa ES:</label>
            <input class="ml-2" type="text" id="empresaEs" placeholder="Empresa..." autocomplete="new-line" formControlName="agencyEs">
          </div>
          <div class="flex flex-col ml-5 w-1/5">
            <label for="empresaEn">Empresa EN:</label>
            <input class="ml-2" type="text" id="empresaEn" placeholder="Agency..." autocomplete="new-line" formControlName="agencyEn">
          </div>
        </div>
        <div class="flex flex-row my-4 justify-between">
          <div class="flex flex-col ml-5 w-2/5">
            <label for="resumenEs">Resumen ES:</label>
            <textarea class="ml-2 p-2" rows="8" id="resumenEs" placeholder="Resumen..." formControlName="resumeEs"></textarea>
          </div>
          <div class="flex flex-col ml-5 w-2/5">
            <label for="resumenEn">Resumen EN:</label>
            <textarea class="ml-2 p-2" rows="8" id="resumenEn" placeholder="Resume..." formControlName="resumeEn"></textarea>
          </div>
        </div>

        <div class="flex flex-row my-4 justify-between">
          <div class="flex flex-col ml-5 w-2/5">
            <label for="introEs">Introducci&oacute;n ES:</label>
            <textarea class="ml-2 p-2" rows="8" id="introEs" placeholder="Introducci&oacute;n..." formControlName="introductionEs"></textarea>
          </div>
          <div class="flex flex-col ml-5 w-2/5">
            <label for="introEn">Introducci&oacute;n EN:</label>
            <textarea class="ml-2 p-2" rows="8" id="introEn" placeholder="Introduction..." formControlName="introductionEn"></textarea>
          </div>
        </div>

        <div class="titleBox">
          <h3 class="text-3xl text-left">Tipografias</h3>
        </div>

        <div class="flex flex-row my-2 items-end" *ngFor="let typography of typographies; let i = index">
          <div class="flex flex-col ml-5 w-1/4">
            <label for="{{ 'typographyName' + i }}">Nombre de la tipografia:</label>
            <input type="text" autocomplete="new-line" [readonly]="typography.name != undefined" value="{{ typography.name != undefined ? typography.name : '' }}" class="ml-2 p-2" id="{{ 'typographyName' + i }}" placeholder="Nombre..."/>
          </div>
          <div class="flex flex-col ml-5 w-2/4">
            <label for="{{ 'urlTypography' + i }}">URL de la tipografia:</label>
            <input type="text" autocomplete="new-line" [readonly]="typography.url != undefined" value="{{ typography.url != undefined ? typography.url : '' }}" class="ml-2 p-2" id="{{ 'urlTypography' + i }}" placeholder="URL..."/>
          </div>
          <span class="circlePlus ml-5" (click)="addTypography(i)" *ngIf="i + 1 == typographies.length && id == 0"></span>
          <span *ngIf="(i != 0 || typography.url != undefined) && id == 0" class="circleLess ml-5" (click)="deleteTypography(i)"></span>
        </div>

        <div class="titleBox mt-2">
          <h3 class="text-3xl text-left">Colores</h3>
        </div>

        <div class="flex flex-row my-2 items-end" *ngFor="let color of colors; let i = index">
          <div class="colorRepre" [style.background-color]="color.colorhex" *ngIf="color.colorhex != undefined">
          </div>
          <div class="flex flex-col ml-5 w-1/4">
            <label for="{{ 'colorhex' + 1 }}">Color en Hexadecimal:</label>
            <input type="text" autocomplete="new-line" [readonly]="color.colorhex != undefined" value="{{ color.colorhex != undefined ? color.colorhex : '' }}" class="ml-2 p-2" id="{{ 'colorhex' + i }}" placeholder="Hexadecimal..."/>
          </div>
          <span class="circlePlus ml-5" (click)="addColor(i)" *ngIf="i + 1 == colors.length && id == 0"></span>
          <span *ngIf="(i != 0 || color.colorhex != undefined) && id == 0" class="circleLess ml-5" (click)="deleteColors(i)"></span>
        </div>

        <div class="titleBox mt-2">
          <h3 class="text-3xl text-left">Caracteristicas</h3>
        </div>

        <div class="flex flex-col my-2d titleBox" *ngFor="let feature of features; let i = index;">
          <div class="flex flex-row my-4">
            <div class="flex flex-col ml-5 w-1/4">
              <label for="{{ 'tituloEs' + i }}">Titulo ES:</label>
              <input type="text" autocomplete="new-line" [readonly]="feature.tituloEs != undefined" value="{{ feature.tituloEs != undefined ? feature.tituloEs : '' }}" class="ml-2 p-2" id="{{ 'tituloEs' + i }}" placeholder="Titulo..."/>
            </div>
            <div class="flex flex-col ml-5 w-1/4">
              <label for="{{ 'tituloEn' + i }}">Titulo EN:</label>
              <input type="text" autocomplete="new-line" [readonly]="feature.tituloEn != undefined" value="{{ feature.tituloEn != undefined ? feature.tituloEn : '' }}" class="ml-2 p-2" id="{{ 'tituloEn' + i }}" placeholder="Title..."/>
            </div>
          </div>
          <div class="flex flex-row my-4 justify-between">
            <div class="flex flex-col w-2/5">
              <label for="{{ 'dscEs' + i }}">Descripcion ES:</label>
              <textarea rows="8" placeholder="Descripci&oacute;n..." [readonly]="feature.dscEs != undefined" value="{{ feature.dscEs != undefined ? feature.dscEs : '' }}" class="ml-2 p-2" id="{{ 'dscEs' + i }}"></textarea>
            </div>
            <div class="flex flex-col w-2/5">
              <label for="{{ 'dscEn' + i }}">Descripcion EN:</label>
              <textarea rows="8" placeholder="Description..." [readonly]="feature.dscEn != undefined" value="{{ feature.dscEn != undefined ? feature.dscEn : '' }}" class="ml-2 p-2" id="{{ 'dscEn' + i }}"></textarea>
            </div>
          </div>
          <div class="flex flex-row justify-center my-5">
            <span class="circlePlus mx-5" (click)="addFeature(i)" *ngIf="i + 1 == features.length && id == 0"></span>
            <span class="circleLess mx-5" (click)="deleteFeatures(i)" *ngIf="(i != 0 || feature.tituloEn != undefined) && id == 0"></span>
          </div>
        </div>

        <div class="flex flex-row mt-5 justify-center font-bold">
          <button type="button" class="border-2 px-5 mx-5" (click)="navigate('projects')">Cancelar</button>
          <button type="submit" class="border-2 px-5 mx-5">Guardar</button>
          <button type="button" class="border-2 px-5 mx-5">Borrar</button>
        </div>

      </div>
    </form>
  </div>
</div>
