<div class="mainBox">
    <div class="text-center">
      <h1 class="text-4xl font-bold"> My Portfolio </h1>
      <p class="text-center my-5 dsc" stranslate="myWeb.dsc"></p>
    </div>
    <div class="justify-between rolAgencyDate mt-2">
      <p class="my-1"><span stranslate="project.role"></span>&nbsp;<span stranslate="myWeb.role"></span></p>
      <p class="my-1"><span stranslate="project.agency"></span>&nbsp;<span stranslate="myWeb.agency"></span></p>
      <p class="my-1"><span stranslate="project.date"></span> 11/2020 </p>
    </div>

    <!-- Imagen principal del proyecto -->
    <div class="my-16 flex justify-center borderedBox boxUnique">
      <app-img-loader
        [src]="'../../../assets/images/project-images/portfolio/principalimg.png'"
        [title]="'Imagen de mi portafolio!'"
        [alt]="'Portafolio Web'"
        [id]="'documentList'"
        [classes]="'borderedBox'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <div class="boxProject border-2 p-4">
      <h5 class="text-center text-3xl font-bold" stranslate="project.introTitle"></h5>
      <p class="text-justify intro" stranslate="myWeb.intro"></p>
      <p class="text-justify intro" stranslate="myWeb.intro2"></p>
    </div>
  
    <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.typoColor"></h2>
  
    <div>
        <div class="my-6">
            <h3 class="text-3xl mb-2" id="typographyName1">NOMBRE DE LA TIPOGRAFIA</h3>
            <p class="typographyExample" id="typographyExample1">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
        </div>

        <div class="my-6">
            <h3 class="text-3xl mb-2" id="typographyName2">NOMBRE DE LA TIPOGRAFIA</h3>
            <p class="typographyExample" id="typographyExample2">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
        </div>
    </div>
  
    <div class="colorMain">
        <div class="colorBox">
            <div class="colorContent" style="background-color: #4ae3cd;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#4ae3cd</p>
        </div>

        <div class="colorBox">
            <div class="colorContent" style="background-color: #db2696;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#db2696</p>
        </div>

        <div class="colorBox">
            <div class="colorContent" style="background-color: #38ca13;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#38ca13</p>
        </div>

        <div class="colorBox">
            <div class="colorContent" style="background-color: #fbb6ce;">
            </div>
            <p class="text-black text-center mt-2 font-bold">#fbb6ce</p>
        </div>
    </div>

    <app-features-box [features]="features"></app-features-box>
  
    <app-thanks-reading></app-thanks-reading>
  
    <div class="my-8 mx-auto w-3/4">
      <p class="text-center text-2xl" stranslate="project.otherWork"></p>
    </div>

    <div class="my-16">
      <div class="boxProject border-2 {{ i % 2 == 0 ? 'randomProjectsBoxOdd' : 'randomProjectsBoxPair' }} slide p-5 flex flex-row justify-between my-5 cursor-pointer" *ngFor="let random of ramdons;let i = index" (click)="navigateUrl(random.code)">
        <div>
          <h6 class="text-2xl">{{ random.name }}</h6>
          <p class="ml-4" [stranslate]="random.resume"></p>
        </div>
        <div class="flex flex-row items-center">
          <span class="block stick"></span>
          <div>
            <span class="block stick-arrow stick-top"></span>
            <span class="block stick-arrow stick-bottom"></span>
          </div>
        </div>
      </div>
    </div>
  
  </div>