.introPatientBox {
  background: linear-gradient(180deg, #111 50%, #BF4FF0);
}

.patientCalendarBox {
  background: linear-gradient(180deg, #BF4FF0 50%, #2A4D75);
}

.calendarConfigBox {
  background: linear-gradient(180deg, #2A4D75 50%, #2C023E);
}

.configFormBox {
  background: linear-gradient(180deg, #2C023E 50%, #51136C);
}

.formFeatureBox {
  background: linear-gradient(180deg, #51136C 50%, #111);
}

.btnVisitProject {
  background: #D168FF;
  border-radius: 16px;
  color: #FFF;
  font-size: 18px;
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.paddingTop {
  padding-top: 0px !important;
}

.darkModeButton {
  position: fixed;
  left: 25px;
  bottom: 25px;
  padding: 15px;
  border-radius: 9999px;
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: 0.6s;
}

.backgroundLightMode {
  background: #eee;
  color: #111;
  border: 1.5px solid #fff;
}

.backgroundDarkMode {
  background: #333;
  border: 1.5px solid #fff;
  color: #fff;
}

.featureMainBoxLeft, .featureMainBoxRight {
  display: flex;
  flex-direction: row;
}

.featureMainBoxLeft,
.featureMainBoxRight {
  transition: 1s;
}

.featureItem {
  width: 50%;
}

.mainFeatureLeft {
  margin-right: 40px;
}

.mainFeatureRight {
  margin-left: 40px;
}

.mainFeatureTitle {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.mainFeatureDsc {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.performanceIc {
  width: 60%;
}

.moduleIc {
  width: 200px;
}

.darkModeIc {
  max-width: 300px;
}

.featureMainBox {
  overflow-x: hidden;
}

.featureShowRight {
  opacity: 0;
  transform: translateX(60vw);
}

.featureShowLeft {
  opacity: 0;
  transform: translateX(-60vw);
}

@media only screen and (max-width: 800px) {
  .featureMainBoxRight {
    flex-direction: column;
  }

  .featureMainBoxLeft {
    flex-direction: column-reverse;
  }

  .featureItem {
    width: 100%;
  }

  .mainFeatureLeft,
  .mainFeatureRight {
    margin: 0px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 500px) {

  .mainFeatureDsc {
    font-size: 18px;
  }

  .mainFeatureTitle {
    font-size: 24px;
  }
}
