.mainBoxStudies{
  display: flex;
  flex-direction: column;
}

.slideDates{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  margin-top: 8rem;
  width: 15%;
  align-items: center;
  max-height: 70vh;
}

.studiesInfo{
  margin: 8rem 10rem 0px 10rem;
}

.stickBegin {
  width: 10px;
  height: 80px;
  background: linear-gradient(0deg, #111  20%, rgb(219, 38, 150) 50%, rgb(74, 227, 205) 80%);
}

.stickEnd {
  width: 10px;
  height: 80px;
  background: linear-gradient(0deg, rgb(219, 38, 150) 20%,rgb(74, 227, 205) 50%, #111  80%);
  margin-bottom: -10px;
}

.studyDetail{
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-right: 10px solid rgb(74, 227, 205);
  border-bottom: 10px solid rgb(219, 38, 150);
  margin-bottom: -10px;
}

.studyOdd{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.studyOdd .details {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.studyPair{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.studyPair .details {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.details{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailOdd{
  flex-direction: row;
}

.detailsPair{
  flex-direction: row-reverse;
}

.currentCourse{
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}

.ballOdd{
  margin-right: -25px;
  background: linear-gradient(0deg, rgba(219,38,150,1) 20%, rgba(74,227,205,1) 100%);
}

.ballPair{
  margin-left: -25px;
  background: linear-gradient(190deg, rgba(219,38,150,1) 20%, rgba(74,227,205,1) 100%);
}

.textdetails{
  display:flex;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
  min-width: 90%;
}

.textTitle{
  font-size: 140%;
  font-weight: bold;
}

.textDate, .textAcademy{
  font-size: 120%;
}

.dates{
  margin: 10px 0px;
  font-size: 160%;
}

.datesSelected{
  font-size: 200%;
}

.checkdate{
  height: 30px;
  width: 30px;
  background: #fff;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkedDate{
  width: 15px;
  height: 15px;
  background: #111;
  border-radius: 50%;
}

.dateReferences {
  bottom: 50%;
  margin-left: 15px;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}

.labelDate{
  font-family: 'Signika', sans-serif;
  font-weight: 500;
  font-size: 140%;
  margin-top: 3px;
}

.circleDates{
  height: 20px;
  background-color: white;
  width: 20px;
  border-radius: 50px;
  margin: auto;
  display: flex;
}

.dotActive {
  height: 10px;
  background-color: #000;
  width: 10px;
  border-radius: 50px;
  margin: auto;
}

@media only screen and (max-width : 600px) {
  .studyDetail {
    width: 250px;
    height: 250px;
  }

  .textTitle {
    font-size: 130%;
  }

  .textAcademy, .textDate {
    font-size: 115%;
  }
}

@media only screen and (max-width : 550px) {
  .studyDetail {
    width: 240px;
    height: 240px;
  }

  .textTitle {
    font-size: 120%;
  }

  .textAcademy, .textDate {
    font-size: 110%;
  }
}

@media only screen and (max-width : 500px) {
  .studyDetail {
    width: 190px;
    height: 190px;
    margin-bottom: -9.5px;
  }

  .textTitle {
    font-size: 100%;
  }

  .textAcademy, .textDate {
    font-size: 95%;
  }

  .currentCourse {
    width: 35px;
    height: 35px;
  }

  .ballPair {
    margin-left: -22px;
  }

  .ballOdd {
    margin-right: -22px;
  }

  .studiesInfo{
    margin: 8rem 6rem 0px 6rem;
  }

}

@media only screen and (max-width : 450px) {
  .studyDetail {
    width: 160px;
    height: 160px;
    margin-bottom: -9.5px;
  }

  .currentCourse {
    width: 25px;
    height: 25px;
  }

  .ballPair {
    margin-left: -17px;
  }

  .ballOdd {
    margin-right: -17px;
  }
}

@media only screen and (max-width : 350px) {
  .studyDetail {
    width: 150px;
    height: 150px;
    margin-bottom: -9.5px;
  }

  .textTitle {
    font-size: 80%;
  }

  .textAcademy, .textDate {
    font-size: 75%;
  }
}