<div class="mainBoxStudies justify-center" (scroll)="this.selectDot()">
  <div class="studiesInfo flex flex-col items-center">
    <div class="stickEnd"></div>
    <div
      class="studyDetail {{ i % 2 === 0 || i === 0 ? 'studyPair' : 'studyOdd' }}"
      *ngFor="let study of studies; let i = index"
      id="{{ study.reference !== null && study.reference !== undefined ? study.reference : '' }}"
    >
      <div class="details {{ i % 2 === 0 || i === 0 ? 'detailsPair' : '' }}">
        <div class="textdetails">
          <span class="textTitle">{{ translate.currentLang === 'es' ? study.es.title : study.en.title }}</span>
          <span class="textDate"
            >{{ getMonth(study.datecreated.month) }} {{ this.translate.currentLang === 'es' ? 'de' : 'of' }}
            {{ study.datecreated.year }}</span
          >
          <span class="textAcademy">{{ study.institute }}</span>
        </div>
        <div class="currentCourse {{ i % 2 === 0 || i === 0 ? 'ballPair' : 'ballOdd' }}"></div>
      </div>
    </div>
    <div class="stickBegin"></div>
  </div>
  <div class="mt-12 text-center">
    <span class="copyri" stranslate="copy"></span>
  </div>
</div>

<!-- Fechas para navegacion sencilla -->
<div class="fixed left-0 dateReferences">
  <a *ngFor="let date of dates" class="my-2" [routerLink]="['/studies']" [fragment]="date">
    <div class="circleDates">
      <div [id]="'date' + date"></div>
    </div>
    <label class="labelDate"> {{ date }}</label>
  </a>
</div>
