<section class="mainBox">
  <!-- Ficha resumen -->
  <app-title-projects
    projectName="SOIV"
    dsc="soiv.dsc"
    role="soiv.role"
    agency="Venemergencia"
    date="05-2022"
  ></app-title-projects>

  <!-- Imagen principal del proyecto -->
  <div class="my-16 flex justify-center borderedBox">
    <app-img-loader
      src="../../../assets/images/project-images/soiv/loginSoiv.png"
      title="Login de SOIV"
      alt="Login de SOIV"
      id="loginSoiv"
      classes="borderedBox"
      height="400px"
      class="w-full"
    ></app-img-loader>
  </div>

  <div class="boxProject border-2 p-4">
    <h5 class="text-center text-3xl font-bold" stranslate="project.introTitle"></h5>
  </div>

  <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.visualRes"></h2>

  <app-img-loader
    src="../../../assets/images/project-images/soiv/homeSoiv.png"
    title="Home de SOIV"
    alt="Home de SOIV"
    id="homeSoiv"
    classes="borderedBox my-12"
    height="400px"
    class="w-full"
  ></app-img-loader>

  <app-img-loader
    src="../../../assets/images/project-images/soiv/someCRUDSoiv.png"
    title="Home de SOIV"
    alt="Home de SOIV"
    id="homeSoiv"
    classes="borderedBox my-12"
    height="400px"
    class="w-full"
  ></app-img-loader>

  <div class="boxMobile mt-16 justify-around">
    <app-image-screen
      urlimg="../../../assets/images/project-images/soiv/loginMobileSoiv.png"
      title="Login mobile"
      alt="Login mobile"
      type="phone"
      id="loginMobile"
    ></app-image-screen>

    <app-image-screen
      urlimg="../../../assets/images/project-images/soiv/homeMobileSoiv.png"
      title="Home mobile"
      alt="Home mobile"
      type="phone"
      id="homeMobile"
    ></app-image-screen>
  </div>

  <div class="boxMobile my-16 justify-around">
    <app-image-screen
      urlimg="../../../assets/images/project-images/soiv/sidebarMobileSoiv.png"
      title="Sidebar mobile"
      alt="Sidebar mobile"
      type="phone"
      id="sidebarMobile"
    ></app-image-screen>

    <app-image-screen
      urlimg="../../../assets/images/project-images/soiv/crudMobileSoiv.png"
      title="CRUD mobile"
      alt="CRUD mobile"
      type="phone"
      id="crudMobile"
    ></app-image-screen>
  </div>

  <div class="boxProject border-2 p-4">
    <h5 class="text-center text-3xl font-bold" stranslate="project.develop"></h5>
  </div>
</section>
