<div class="flex flex-row w-full min-h-screen">
  <div class="w-1/6 min-h-screen">
    <app-slidemenu></app-slidemenu>
  </div>
  <div class="w-5/6 min-h-screen">
    <form class="m-10 flex flex-col" autocomplete="off" role="form" [formGroup]="editForm">
      <h1 class="text-4xl m-auto text-center underline">Editar o Crear Tipografia</h1>

      <div class="flex flex-col w-full">
        <div class="titleBox">
          <h3 class="text-3xl text-left">Datos Basicos</h3>
        </div>
        <div class="flex flex-row my-4">
          <div class="flex flex-col ml-5 w-1/5">
            <label for="idTypo">ID:</label>
            <input class="ml-2" type="text" id="idTypo" readonly placeholder="ID..." formControlName="id">
          </div>
          <div class="flex flex-col ml-5 w-1/5">
            <label for="fontName">Nombre de Tipografia:</label>
            <input class="ml-2" type="text" id="fontName" placeholder="Nombre..." autocomplete="new-line" formControlName="fontName">
          </div>
        </div>

        <div class="flex flex-row my-4">
          <div class="flex flex-col ml-5 w-2/5">
            <label for="project">Proyecto:</label>
            <select class="ml-2" id="project" formControlName="projectid">
              <option value="null" disabled selected>Seleccione...</option>
              <option value="{{project.id}}" *ngFor="let project of projects">{{ project.id }} - {{ project.name }}</option>
            </select>
          </div>
          <div class="flex flex-col ml-5 w-3/5">
            <label for="urlTypo">URL De la Tipografia:</label>
            <input class="ml-2" type="text" id="urlTypo" placeholder="URL..." autocomplete="new-line" formControlName="fontUrl">
          </div>
        </div>

        <div class="flex flex-row mt-5 justify-center font-bold">
          <button type="button" class="border-2 px-5 mx-5" (click)="navigate('typographies')">Cancelar</button>
          <button type="submit" class="border-2 px-5 mx-5">Guardar</button>
          <button type="button" class="border-2 px-5 mx-5">Borrar</button>
        </div>

      </div>
    </form>
  </div>
</div>
