html {
  background-color: #111;
  font-family: 'Signika', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, html {
  color: #FFF;
  height: 100%;
}

button:focus, select:focus {
  outline: 0;
}

.codeLine{
  font-family: monospace;
  font-size: 150%;
}

.tag, .linkProject, .titleFeature {
  color: #4ae3cd;
}

.controlStructure {
  color: #db2696;
}

.sentence {
  color: #38ca13;
}

.orderFlex {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialMedia {
  height: 50px;
  width: 50px;
  align-self: center;
}

.boxProject {
  border-color: #4ae3cd;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg,#4ae3cd 0%, #db2696 50%, #38ca13 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, rgba(68,176,160,1) 0%, rgba(163,52,121,1) 50%, rgba(69,162,46,1) 100%);
}

textarea {
  resize: none;
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1224px) {
  .socialMedia {
    height: 45px;
    width: 45px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1024px) {
  .socialMedia {
    height: 40px;
    width: 40px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 950px) {
  .socialMedia {
    height: 30px;
    width: 30px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 700px) {
  .socialMedia {
    height: 25px;
    width: 25px;
  }
}

.loadScreen {
  width: 0px;
  height: 100%;
  z-index: 9999999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  transition: 1.8s;
  /*background-image: url("assets/images/pat-dark.jpg");*/
}

.name {
  font-size: 180%;
  font-weight: 300;
  font-family: 'Signika', sans-serif;
  animation: volcanName 4s ease-out infinite;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  text-align: center;
}

@keyframes volcanName{
  0%{
    color: #4ae3cd;
  }
  25%{
    color: #db2696;
  }
  50%{
    color: #38ca13;
  }
  75%{
    color: #db2696;
  }
  100%{
    color: #4ae3cd;
  }
}

.loadingLine{
  width: 0%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
  animation: expandLoading 4s ease-out infinite;
}


@keyframes expandLoading{
  0%{
    width: 0%;
  }
  5%{
    width: 2%
  }
  10%{
    width: 4%;
  }
  15%{
    width: 6%
  }
  20%{
    witdh: 8%;
  }
  25%{
    width: 10%;
  }
  30%{
    width: 12%;
  }
  35%{
    width: 14%;
  }
  40%{
    width: 16%;
  }
  45%{
    width: 18%;
  }
  50%{
    width: 20%;
  }
  55%{
    width: 18%;
  }
  60%{
    width: 16%;
  }
  65%{
    width: 14%;
  }
  70%{
    width: 12%;
  }
  75%{
    width: 10%;
  }
  80%{
    width: 8%;
  }
  85%{
    width: 6%;
  }
  90%{
    width: 4%;
  }
  95%{
    width: 2%;
  }
  100%{
    width: 0%;
  }
}

/* ESTILOS PARA PROYECTOS */
.mainBox{
  margin: 8rem 10rem;
}

.dscText, .intro{
  font-size: 1.25rem;
}

.rolAgencyDate {
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
}

.laptopBox{
  height: 90vh;
}

.boxLaptopScreen {
  width: 90%;
  height: 90%;
  background-color: #222;
}

.boxLaptopKeyboard {
  width: 100%;
  height: 10%;
  background-color: #222;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.mouseTrack {
  height: 40%;
  width: 30%;
  background-color: #000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.boxTablet, .boxMobile{
  height: 80vh;
  margin: 30px 0px;
  border-radius: 30px;
}

.boxMobile {
  display: flex;
  flex-direction: row;
}

.screenTablet{
  width: 70%;
}

.buttonAndCameraTablet{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonTablet{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cameraTablet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.soundTablet {
  width: 25px;
  height: 200px;
  border-radius: 20px;
}

.mobileBox{
  border-radius: 30px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.cameraBoxMobile {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.screenMobile{
  height: 95%;
  border-radius: 30px;
}

.screenImg, .borderedBox {
  border-radius: 10px;
}

.heightForPrincipalImg{
  height: 90vh;
}

.soundMobile {
  height: 10px;
  border-radius: 5px;
  width: 100px;
}

.cameraMobile {
  width: 10px;
  border-radius: 50%;
  height: 10px;
}

.colorBox{
  background-color: #FFF;
  margin: 20px;
  width: 20%;
  float: left;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  transform: scale(1);
}

.colorBox:hover{
  transform: scale(1.2) perspective(1px);
}

.colorContent {
  height: 100%;
  width: 100%;
}

.colorMain {
  display: flow-root;
}

.featureBox {
  border-color: #DB2696;
  transition: all 1s ease;
  width: 75%;
}

.featureBox:hover{
  transform: scale(1.05) perspective(0.5px);
}

.heart{
  margin: 40px auto;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) scale(1);
  background-color: #FF0000;
  transition: all 1s ease;
}

.heart:hover{
  transform: scale(1.1) perspective(1px) rotate(45deg);
}

.heart:before,
.heart:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #FF0000;
  transition: all 1s ease;
  transform: scale(1);
}

.heart:before{
  bottom: 0px;
  left: -50px;
}

.heart:after{
  top: -50px;
  right: 0px;
}

.stick {
  width: 50px;
  margin-right: -15px;
  height: 5px;
  background-color: white;
}

.stick-arrow{
  width: 20px;
  height: 4px;
  background: white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.stick-top{
  margin-bottom: 7px;
  transform: rotate(45deg);
}

.stick-bottom{
  margin-top: 7px;
  transform: rotate(-45deg);
}

.randomProjectsBoxPair{
  margin-left: 10rem;
  margin-right: 2.5rem;
}

.randomProjectsBoxOdd{
  margin-left: 2.5rem;
  margin-right: 10rem;
}

.slide{
  background: linear-gradient(to left, #111 50%, #2e8a7c 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: 1s;
}

.slide:hover,
.slide:focus {
  background-position:left bottom;
}

.typographyExample {
  font-size: 1.5rem;
  margin: 0px 5rem;
  text-align: justify;
}

.dsc {
  font-size: 1.1rem;
}

@media only screen
and (max-width : 1085px) {
  .mainBox{
    margin: 8rem 5rem;
  }
}

@media only screen
and (max-width : 1040px) {
  .mobileBox{
    width: 28%;
  }

  .laptopBox{
    height: 85vh;
  }
}

@media only screen
and (max-width : 1000px) {
  .mainBox{
    margin: 7rem 4rem;
  }

  .mobileBox{
    width: 30%;
  }

  .laptopBox{
    height: 80vh;
  }
}

@media only screen
and (max-width : 950px) {
  .mobileBox{
    width: 32%;
  }

  .laptopBox{
    height: 75vh;
  }

  .randomProjectsBoxPair{
    margin-left: 9rem;
  }

  .randomProjectsBoxOdd{
    margin-right: 9rem;
  }

  .boxTablet {
    height: 75vh;
  }

  .colorBox{
    margin: 10px 12%;
    width: 25%;
  }
}

@media only screen
and (max-width : 850px) {

  .heightForPrincipalImg {
    height: 70vh;
  }

  .mobileBox{
    width: 32%;
  }

  .mainBox{
    margin: 6rem 1.5rem;
  }

  .randomProjectsBoxPair{
    margin-left: 5rem;
  }

  .randomProjectsBoxOdd{
    margin-right: 5rem;
  }

  .boxTablet {
    height: 65vh;
  }

  .featureBox {
    width: 90%;
  }

  .dscText, .intro{
    font-size: 1rem;
  }

  .rolAgencyDate {
    font-size: 1.1rem;
  }

  .dsc {
    font-size: 1.2rem;
  }

  .typographyExample {
    font-size: 1.4rem;
    margin: 0px 3rem;
  }
}

@media only screen
and (max-width : 800px) {
  .heightForPrincipalImg {
    height: 65vh;
  }

  .mobileBox{
    width: 35%;
  }

  .laptopBox{
    height: 74vh;
  }

  .randomProjectsBoxPair{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .randomProjectsBoxOdd{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media only screen
and (max-width : 750px) {
  .heightForPrincipalImg {
    height: 60vh;
  }

  .mobileBox{
    width: 40%;
    height: 500px;
    margin: 20px 0px;
  }

  .boxMobile {
    height: auto;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }

  .laptopBox{
    height: 65vh;
  }

  .typographyExample {
    font-size: 1.3rem;
    margin: 0px 2rem;
  }

  .boxTablet {
    height: 60vh;
  }
}

@media only screen
and (max-width : 650px) {
  .heightForPrincipalImg {
    height: 50vh;
  }

  .mobileBox{
    width: 48%;
  }

  .laptopBox{
    height: 60vh;
  }

  .rolAgencyDate {
    flex-direction: column;
    align-items: center;
  }

  .boxTablet {
    height: 55vh;
  }
}

@media only screen
and (max-width : 600px) {
  .mobileBox{
    width: 52%;
  }

  .laptopBox{
    height: 58vh;
  }

  .boxTablet {
    height: 50vh;
  }
}

@media only screen
and (max-width : 550px) {
  .mobileBox{
    width: 55%;
  }
  .laptopBox{
    height: 55vh;
  }

  .heightForPrincipalImg {
    height: 45vh;
  }

  .stick {
    width: 30px;
    height: 5px;
  }

  .arrow-right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFF;
  }

  .boxTablet {
    height: 45vh;
  }
}

@media only screen
and (max-width : 500px) {
  .mobileBox{
    width: 60%;
  }

  .laptopBox{
    height: 52vh;
  }

  .colorBox{
    margin: 12px 8%;
    width: 33%;
  }

  .heightForPrincipalImg {
    height: 40vh;
  }

  .boxTablet {
    height: 40vh;
  }
}

@media only screen
and (max-width : 450px) {
  .mobileBox{
    width: 70%;
  }

  .laptopBox{
    height: 50vh;
  }

  .heightForPrincipalImg {
    height: 35vh;
  }

  .boxTablet {
    height: 35vh;
  }
}

@media only screen
and (max-width : 400px) {
  .mobileBox{
    width: 80%;
  }

  .laptopBox{
    height: 35vh;
  }
}

@media only screen
and (max-width : 350px) {
  .mobileBox{
    width: 85%;
  }

  .colorBox{
    margin: 10px 10%;
    width: 30%;
    height: 100px;
    padding: 5px;
  }

  .heightForPrincipalImg {
    height: 25vh;
  }
}
