html {
  background-color: #111;
  font-family: 'Signika', sans-serif;
}

body, html {
  color: #FFF;
  height: 100%;
}

button:focus, select:focus {
  outline: 0;
}

.codeLine{
  font-family: monospace;
  font-size: 24px;
}

.tag, .linkProject {
  color: #4ae3cd;
}

.controlStructure {
  color: #db2696;
}

.sentence {
  color: #38ca13;
}

.orderFlex {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialMedia {
  height: 50px;
  width: 50px;
  align-self: center;
}
