<section class="mainBox">
  <section class="presentationBox">
    <div class="w-3/5 text-justify">
      <h1 stranslate="home.presentation" class="presentation"></h1>
      <p stranslate="home.description" class="descMySelf"></p>
    </div>
  </section>
  <section class="projects mt-24">
    <p class="codeLine">&lt;<span class="tag">projects&nbsp;<span class="controlStructure">*ngFor</span>="<span class="sentence">let project of portafolio</span>"</span>&gt;</p>
    <div class="w-100 my-5">
      <div class="border-2 boxProject mr-24 ml-16 p-5">
        <h1 class="projectTitle">My Portafolio Website</h1>
        <p class="descProject text-justify leading-none" stranslate="myWeb.resume"></p>
        <a class="linkProject flex" stranslate="home.linkProject" routerLink="/"></a>
      </div>
      <div class="border-2 boxProject ml-24 mr-16 p-5 mt-6">
        <h1 class="projectTitle">TraumApp</h1>
        <p class="descProject text-justify leading-none" stranslate="traumApp.resume"></p>
        <a class="linkProject flex" stranslate="home.linkProject" routerLink="/"></a>
      </div>
    </div>
    <p class="codeLine">&lt;/<span class="tag">projects</span>&gt;</p>
  </section>
</section>
