.presentation{
  font-size: 30px;
  font-weight: bold;
}

.mainBox{
  margin: 100px 100px 0px 100px;
}

.descMySelf {
  font-size: 28px;
  font-weight: 700;
}

.projectTitle {
  font-size: 26px;
  font-weight: 600;
}

.boxProject {
  border-color: #4ae3cd;
}
