.presentation{
  font-size: 30px;
  font-weight: bold;
}

.mainBox{
  margin: 180px 150px 0px 150px;
}

.descMySelf {
  font-size: 28px;
  font-weight: 700;
}

.projectTitle {
  font-size: 26px;
  font-weight: 600;
}

.boxProject {
  border-color: #4ae3cd;
}

.descProject {
  font-size: 18px;
}

.linkProject {
  font-size: 20px;
  margin-top: 1.0em;
  margin-left: 1.0em;
}

.knowlegdeTxt, .aboutResume {
  font-weight: 600;
  font-size: 20px;
}

.aboutResume {
  font-size: 24px;
}

svg {
  height: auto;
}

.stick {
  width: 50px;
  height: 10px;
  background-color: white;
}

.arrow-right {
  display: block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #FFF;
}
