<section class="mainBox" id="home">
  <section class="presentationBox">
    <div class="presentationSonBox text-justify">
      <h1 stranslate="home.presentation" class="presentation"></h1>
      <p stranslate="home.description" class="descMySelf"></p>
    </div>
  </section>

  <section class="projects" id="projects">
    <p class="codeLine">&lt;<span class="tag">projects&nbsp;<span class="controlStructure">*ngFor</span>="<span class="sentence">let project of portafolio</span>"</span>&gt;</p>

    <div class="w-100 my-5" >
      <div class="border-2 boxProject {{ i % 2 == 0 || i == 0 ? 'marginOdd' : 'marginPair' }} mt-6 p-5 cursor-pointer btn slide" *ngFor="let project of projects;let i = index" (click)="navigation(project.route)">
        <h1 class="projectTitle">{{ project.name }}</h1>
        <p class="descProject text-justify leading-none">{{ translate.currentLang == "es" ? project.es.resume : project.en.resume }}</p>
        <a class="linkProject flex" stranslate="home.linkProject"></a>
      </div>
    </div>

    <p class="codeLine">&lt;/<span class="tag">projects</span>&gt;</p>
  </section>

  <section class="knowlegde" id="knowlegde">
    <p class="codeLine">&lt;<span class="tag">knowlegde</span>&gt;</p>
    <div class="knowlegdeBox ml-16">
      <div class="w-1/2 knowlegdeTxt mr-2 text-justify">
        <p stranslate="knowlegde.firstDsc" class="mb-4"></p>
        <p stranslate="knowlegde.secondDsc" class="mb-4"></p>
        <p stranslate="knowlegde.thirdDsc" class="mb-4"></p>
        <p stranslate="knowlegde.quarterDsc" class="mb-4"></p>
      </div>
      <div class="ml-2 knowlegdeIllustration">

        <svg version="1.1"
         baseProfile="full" viewBox="0 0 200 200"
         xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="grad1" gradientUnits="userSpaceOnUse">
              <stop offset="5%" style="stop-color:#4ae3cd;"/>
              <stop offset="25%" style="stop-color:#db2696;"/>
              <stop offset="45%" style="stop-color:#38ca13;"/>
              <stop offset="65%" style="stop-color:#4ae3cd;"/>
              <stop offset="85%" style="stop-color:#db2696;"/>
            </linearGradient>

            <pattern id="reactFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="50" height="50" y="-7" x="7" href="../assets/images/triangle/react-icon.svg"/>
            </pattern>
            <pattern id="reactSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="45" height="45" x="-15" y="-0.5" href="../assets/images/triangle/react-icon.svg"/>
            </pattern>
            <pattern id="angularFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="30" height="30" x="25" y="3" href="../assets/images/triangle/angular-icon.svg"/>
            </pattern>
            <pattern id="angularSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="32" height="34" x="-14" y="10" href="../assets/images/triangle/angular-icon.svg"/>
            </pattern>
            <pattern id="htmlFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="30" height="30" x="3" y="31" href="../assets/images/triangle/html-icon.svg"/>
            </pattern>
            <pattern id="htmlSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="37" height="37" x="-7.5" y="-22" href="../assets/images/triangle/html-icon.svg"/>
            </pattern>
            <pattern id="firebaseFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="20" height="20" x="17" y="9" href="../assets/images/triangle/firebase-icon.svg"/>
            </pattern>
            <pattern id="jsFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="25" height="25" x="-6" y="24"  href="../assets/images/triangle/js-icon.svg"/>
            </pattern>
            <pattern id="jsSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="25" height="25" x="32" y="3.5"  href="../assets/images/triangle/js-icon.svg"/>
            </pattern>
            <pattern id="cssFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="22" height="22" x="10" y="15" href="../assets/images/triangle/css-icon.svg"/>
            </pattern>
            <pattern id="postgreFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="30" height="30" x="20" y="35" href="../assets/images/triangle/postgresql-icon.svg"/>
            </pattern>
            <pattern id="postgreSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="28" height="28" x="16.5" y="-13" href="../assets/images/triangle/postgresql-icon.svg"/>
            </pattern>
            <pattern id="tailFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="28" height="28" x="-12" y="-6" href="../assets/images/triangle/tailwind-icon.svg"/>
            </pattern>
            <pattern id="tailSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="35" height="35" x="15" y="-5" href="../assets/images/triangle/tailwind-icon.svg"/>
            </pattern>
            <pattern id="tailThi" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="35" height="35" x="-14.5" y="41.5" href="../assets/images/triangle/tailwind-icon.svg"/>
            </pattern>
            <pattern id="realmFir" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="70" height="70" x="5" y="-3" href="../assets/images/triangle/realm-icon.svg"/>
            </pattern>
            <pattern id="realmSec" height="100%" width="100%" viewBox="0 0 50 50">
              <image width="100" height="100" x="40" y="-6" href="../assets/images/triangle/realm-icon.svg"/>
            </pattern>
          </defs>

          <polygon points="10, 120 80, 120 40, 50 " stroke="url(#grad1)" stroke-width="2" id="firstPoly"/>

          <polygon points="20, 124 81, 124 50, 180" stroke="url(#grad1)" stroke-width="2" id="secondPoly"/>

          <polygon points="38, 39 132, 39 84, 119" stroke="url(#grad1)" stroke-width="2" id="thirdPoly"/>

          <polygon points="65.5, 160 130, 160 97.5, 104" stroke="url(#grad1)" stroke-width="2" id="quarterPoly"/>

          <polygon points="100, 100 180, 100 141, 30" stroke="url(#grad1)" stroke-width="2" id="fifthPoly"/>

          <polygon points="101.5, 103.5 190, 103.5 146, 180" stroke="url(#grad1)" stroke-width="2" id="sixPoly"/>

          <use href="#firstPoly" fill="#111"/>
          <use href="#firstPoly" fill="url(#reactFir)"/>
          <use href="#firstPoly" fill="url(#htmlFir)"/>

          <use href="#secondPoly" fill="#111"/>
          <use href="#secondPoly" fill="url(#htmlSec)"/>
          <use href="#secondPoly" fill="url(#jsSec)"/>
          <use href="#secondPoly" fill="url(#cssFir)"/>

          <use href="#thirdPoly" fill="#111"/>
          <use href="#thirdPoly" fill="url(#reactSec)"/>
          <use href="#thirdPoly" fill="url(#angularFir)"/>

          <use href="#quarterPoly" fill="#111"/>
          <use href="#quarterPoly" fill="url(#jsFir)"/>
          <use href="#quarterPoly" fill="url(#tailSec)"/>
          <use href="#quarterPoly" fill="url(#realmSec)"/>

          <use href="#fifthPoly" fill="#111"/>
          <use href="#fifthPoly" fill="url(#angularSec)"/>
          <use href="#fifthPoly" fill="url(#firebaseFir)"/>
          <use href="#fifthPoly" fill="url(#postgreFir)"/>
          <use href="#fifthPoly" fill="url(#tailThi)"/>

          <use href="#sixPoly" fill="#111"/>
          <use href="#sixPoly" fill="url(#postgreSec)"/>
          <use href="#sixPoly" fill="url(#tailFir)"/>
          <use href="#sixPoly" fill="url(#realmFir)"/>

        </svg>

      </div>
    </div>
    <p class="codeLine">&lt;/<span class="tag">knowlegde</span>&gt;</p>
  </section>

  <section class="littleAbout mt-12">
    <p class="codeLine">&lt;<span class="tag">about&nbsp;</span><span class="controlStructure">title</span>=<span class="sentence">introduce myself</span>&gt;</p>
    <div class="w-100 my-5 flex flex-col aboutResume">
      <p stranslate="about.resume"></p>
      <div class="mt-5 flex row underline font-normal">
        <a (click)="navigation('/about')" class="flex items-center" style="cursor:pointer;">
          <span stranslate="about.aboutLink" class="mr-8"></span>
          <div class="flex flex-row items-center">
            <span class="block stick"></span>
            <span class="block arrow-right"></span>
          </div>
        </a>
      </div>
    </div>
    <p class="codeLine">&lt;<span class="tag">about</span>&gt;</p>
  </section>
</section>
