<div class="flex flex-row w-screen min-h-screen">
  <div class="border-2 w-1/6 min-h-screen">
    <div class="mt-10">
      <h1 class="text-2xl m-auto text-center">Menu</h1>
      <div class="border-2 my-5 cursor-pointer">
        <p class="text-center">Home</p>
      </div>
      <div class="border-2 my-5 cursor-pointer" (click)="navigate('projects')">
        <p class="text-center">Proyectos</p>
      </div>
      <div class="border-2 my-5 cursor-pointer" (click)="logout()">
        <p class="text-center">Cerrar sesi&oacute;n</p>
      </div>
    </div>
  </div>
  <div class="border-2 w-5/6 min-h-screen">
    <div class="m-10">
      <h1 class="text-4xl m-auto text-center">CMS - Portafolio</h1>
    </div>
  </div>
</div>
