<div class="flex flex-row w-full min-h-screen">
  <div class="w-1/6 min-h-screen">
    <div class="w-1/6 fixed min-h-screen sideMenu text-gray-900 font-semibold">
      <h1 class="text-2xl m-auto text-center mt-4">Menu</h1>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('home')">
        <p class="text-center">Home</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="navigate('projects')">
        <p class="text-center">Proyectos</p>
      </div>
      <div class="py-2 border-gray-700 border-b cursor-pointer buttonHover" (click)="logout()">
        <p class="text-center">Cerrar sesi&oacute;n</p>
      </div>
    </div>
  </div>
  <div class="w-5/6 min-h-screen">
    <div class="m-10">
      <h1 class="text-4xl m-auto text-center underline">CMS - Portafolio</h1>
      <div class="w-full flex flex-row justify-around my-8">
        <div class="w-2/6 border-2 tableBox p-3 border-white">
          <h2 class="text-center font-semibold text-2xl">PROYECTOS</h2>
          <table class="w-full" border="1">
            <tr>
              <th class="bg-teal-700 m-2 p-2">ID</th>
              <th class="bg-teal-700 m-2 p-2">Cantidad</th>
            </tr>
            <tr *ngFor="let project of projects;">
              <td class="font-bold text-left">{{ project.name }}</td>
              <td class="font-bold text-right">{{ project.qty }}</td>
            </tr>
            <tr>
              <th class="bg-teal-900 m-2 p-2 text-left font-bold">TOTAL</th>
              <th class="bg-teal-900 m-2 p-2 text-right font-bold">{{ projects != undefined ? projects.length : '' }}</th>
            </tr>
          </table>
        </div>
        <div class="w-2/6 border-2 tableBox p-3 border-white">
          <h2 class="text-center font-semibold text-2xl">CARACTERISTICAS</h2>
          <table class="w-full" border="1">
            <tr>
              <th class="bg-teal-700 m-2 p-2">ID</th>
              <th class="bg-teal-700 m-2 p-2">Cantidad</th>
            </tr>
            <tr *ngFor="let feature of features">
              <td class="font-bold text-left">{{ feature.name }}</td>
              <td class="font-bold text-right">{{ feature.qty }}</td>
            </tr>
            <tr>
              <th class="bg-teal-900 m-2 p-2 text-left font-bold">TOTAL</th>
              <th class="bg-teal-900 m-2 p-2 text-right font-bold">{{ featuresQty }}</th>
            </tr>
          </table>
        </div>
    </div>
    <div class="w-full flex flex-row justify-around my-8">
      <div class="w-2/6 border-2 tableBox p-3 border-white">
        <h2 class="text-center font-semibold text-2xl">TIPOGRAFIAS</h2>
        <table class="w-full" border="1">
          <tr>
            <th class="bg-teal-700 m-2 p-2">ID</th>
            <th class="bg-teal-700 m-2 p-2">Cantidad</th>
          </tr>
          <tr *ngFor="let typography of typographies">
            <td class="font-bold text-left">{{ typography.name }}</td>
            <td class="font-bold text-right">{{ typography.qty }}</td>
          </tr>
          <tr>
            <th class="bg-teal-900 m-2 p-2 text-left font-bold">TOTAL</th>
            <th class="bg-teal-900 m-2 p-2 text-right font-bold">{{ typographies != undefined ? typographies.length : '' }}</th>
          </tr>
        </table>
      </div>
      <div class="w-2/6 border-2 tableBox p-3 border-white">
        <h2 class="text-center font-semibold text-2xl">COLORES</h2>
        <table class="w-full" border="1">
          <tr>
            <th class="bg-teal-700 m-2 p-2">ID</th>
            <th class="bg-teal-700 m-2 p-2">Cantidad</th>
          </tr>
          <tr *ngFor="let color of colors;">
            <td class="font-bold text-left flex justify-between">{{ color.name | uppercase }}<span [style.background-color]="color.name" class="colorRepre"></span></td>
            <td class="font-bold text-right">{{ color.qty }}</td>
          </tr>
          <tr>
            <th class="bg-teal-900 m-2 p-2 text-left font-bold">TOTAL</th>
            <th class="bg-teal-900 m-2 p-2 text-right font-bold">{{ colors != undefined ? colors.length : '' }}</th>
          </tr>
        </table>
      </div>
  </div>
  </div>
</div>
