<div class="flex flex-row w-full min-h-screen">
  <div class="w-1/6 min-h-screen">
    <div class="w-1/6 border-2 fixed min-h-screen">
      <h1 class="text-2xl m-auto text-center">Menu</h1>
      <div class="border-2 my-5 cursor-pointer" (click)="navigate('home')">
        <p class="text-center">Home</p>
      </div>
      <div class="border-2 my-5 cursor-pointer" (click)="navigate('projects')">
        <p class="text-center">Proyectos</p>
      </div>
      <div class="border-2 my-5 cursor-pointer" (click)="logout()">
        <p class="text-center">Cerrar sesi&oacute;n</p>
      </div>
    </div>
  </div>
  <div class="w-5/6 min-h-screen">
    <div class="m-10">
      <h1 class="text-4xl m-auto text-center">CMS - Portafolio</h1>
      <div class="w-full flex flex-row justify-around my-8">
        <div class="w-2/6">
          <h2 class="text-center text-2xl">PROYECTOS</h2>
          <table class="w-full" border="1">
            <tr>
              <th class="bg-teal-700 m-2 p-2">ID</th>
              <th class="bg-teal-700 m-2 p-2">Cantidad</th>
            </tr>
            <tr *ngFor="let project of projects;">
              <td class="font-bold text-left">{{ project.name }}</td>
              <td class="font-bold text-right">{{ project.qty }}</td>
            </tr>
            <tr>
              <th class="bg-teal-700 m-2 p-2 text-left font-bold">TOTAL</th>
              <th class="bg-teal-700 m-2 p-2 text-right font-bold">{{ projects != undefined ? projects.length : '' }}</th>
            </tr>
          </table>
        </div>
        <div class="w-2/6">
          <h2 class="text-center text-2xl">COLORES</h2>
          <table class="w-full" border="1">
            <tr>
              <th class="bg-teal-700 m-2 p-2">ID</th>
              <th class="bg-teal-700 m-2 p-2">Cantidad</th>
            </tr>
            <tr *ngFor="let color of colors;">
              <td class="font-bold text-left">{{ color.name | uppercase }}</td>
              <td class="font-bold text-right">{{ color.qty }}</td>
            </tr>
            <tr>
              <th class="bg-teal-700 m-2 p-2 text-left font-bold">TOTAL</th>
              <th class="bg-teal-700 m-2 p-2 text-right font-bold">{{ colors != undefined ? colors.length : '' }}</th>
            </tr>
          </table>
        </div>
    </div>
    <div class="w-full flex flex-row justify-around my-8">
      <div class="w-2/6">
        <h2 class="text-center text-2xl">TIPOGRAFIAS</h2>
        <table class="w-full" border="1">
          <tr>
            <th class="bg-teal-700 m-2 p-2">ID</th>
            <th class="bg-teal-700 m-2 p-2">Cantidad</th>
          </tr>
          <tr>
            <th class="bg-teal-700 m-2 p-2 text-left font-bold">TOTAL</th>
            <th class="bg-teal-700 m-2 p-2 text-right font-bold">10000</th>
          </tr>
        </table>
      </div>
      <div class="w-2/6">
        <h2 class="text-center text-2xl">CARACTERISTICAS</h2>
        <table class="w-full" border="1">
          <tr>
            <th class="bg-teal-700 m-2 p-2">ID</th>
            <th class="bg-teal-700 m-2 p-2">Cantidad</th>
          </tr>
          <tr>
            <th class="bg-teal-700 m-2 p-2 text-left font-bold">TOTAL</th>
            <th class="bg-teal-700 m-2 p-2 text-right font-bold">10000</th>
          </tr>
        </table>
      </div>
  </div>
  </div>
</div>
