<div class="mt-32 mx-32 text-center">
  <h1 class="text-4xl font-bold">{{projectSelected != undefined ? projectSelected.name : '' }}</h1>
  <p class="text-justify my-5 text-xl" *ngIf="projectSelected != undefined">{{ translate.currentLang == "es" ? projectSelected.es.dsc : projectSelected.en.dsc }}</p>
</div>
<div class="mx-40 flex flex-row justify-between text-lg mt-2">
  <p><span stranslate="project.role" *ngIf="projectSelected != undefined"></span> {{ translate.currentLang == "es" ? projectSelected.es.role : projectSelected.en.role }}</p>
  <p><span stranslate="project.agency" *ngIf="projectSelected != undefined"></span> {{ translate.currentLang == "es" ? projectSelected.es.agency : projectSelected.en.agency }}</p>
  <p><span stranslate="project.date" *ngIf="projectSelected != undefined"></span> {{ projectSelected.datecreated }}</p>
</div>
<div class="heightForPrincipalImg mx-40 my-16 flex justify-center borderedBox">
  <img *ngIf="projectSelected != undefined" src="{{projectSelected.principalimg}}" class="h-full borderedBox">
</div>
<div class="boxProject border-2 mx-40 p-4">
  <h5 class="text-center text-3xl font-bold" stranslate="project.introTitle"></h5>
    <p class="text-justify text-xl">{{ translate.currentLang == "es" && projectSelected != undefined ? projectSelected.es.introduction : projectSelected.en.introduction }}</p>
</div>
<h2 class="text-3xl text-center my-16 font-bold" stranslate="project.visualRes"></h2>
<div class="heightForPrincipalImg mx-40 mb-16 flex justify-center borderedBox">
  <img *ngIf="projectSelected != undefined" src="{{projectSelected.secundaryimg}}" class="h-full borderedBox">
</div>


<div class="heightForPrincipalImg mx-40  my-16 flex flex-col items-center" *ngIf="projectSelected.laptopimg != null">
  <div class="border-2 p-2 boxLaptopScreen border-b-0 borderedBox boxProject">
    <img *ngIf="projectSelected != undefined" src="{{projectSelected.laptopimg}}" class="h-full w-full">
  </div>
  <div class="border-2 boxLaptopKeyboard boxProject">
    <div class="mouseTrack border-2 border-t-0 m-auto boxProject">

    </div>
  </div>
</div>

<div class="boxTablet mx-40  my-16 border-2 flex flex-row justify-between p-2" *ngIf="projectSelected.tabletimg != null">

  <div class="h-full buttonAndCameraTablet flex-col">
    <div class="cameraTablet border-2 my-2"></div>
    <div class="soundTablet border-2 my-2"></div>
  </div>

  <div class="h-full screenTablet">
    <img *ngIf="projectSelected != undefined" src="{{projectSelected.tabletimg}}" class="h-full w-full">
  </div>

  <div class="h-full buttonAndCameraTablet">
    <div class="buttonTablet border-2">
    </div>
  </div>

</div>
<div class="boxTablet mx-40 my-16 flex flex-row justify-around" *ngIf="projectSelected.smobileimg != '' && projectSelected.fmobileimg != ''">

  <div class="h-full border-2 w-1/4 mobileBox p-2">
    <div class=" w-full cameraBoxMobile">
      <div class="cameraMobile border-2">
      </div>
      <div class="soundMobile border-2">

      </div>
    </div>
    <div class="w-full screenMobile">
      <img *ngIf="projectSelected != undefined" src="{{projectSelected.fmobileimg}}" class="h-full w-full screenImg">
    </div>
  </div>

  <div class="h-full border-2 w-1/4 mobileBox  p-2">
    <div class=" w-full cameraBoxMobile">
      <div class="cameraMobile border-2">

      </div>
      <div class="soundMobile border-2">

      </div>
    </div>
    <div class="w-full screenMobile">
      <img *ngIf="projectSelected != undefined" src="{{projectSelected.smobileimg}}" class="h-full w-full screenImg">
    </div>
  </div>

</div>

<h2 class="text-3xl text-center my-16 font-bold" stranslate="project.typoColor"></h2>

<div *ngIf="projectSelected != undefined">
  <div class="mx-40 my-6" *ngFor="let typography of projectSelected.typographies; let i = index">
    <h3 class="text-3xl mb-2">{{ typography.name }}</h3>
    <p class="text-2xl mx-20" id="{{ 'font' + i }}">A&emsp;B&emsp;C&emsp;D&emsp;E&emsp;F&emsp;J&emsp;G&emsp;I&emsp;J&emsp;K&emsp;L&emsp;M&emsp;N&emsp;O&emsp;P&emsp;Q&emsp;R&emsp;S&emsp;T&emsp;U&emsp;V&emsp;W&emsp;X&emsp;Y&emsp;Z&emsp;1&emsp;2&emsp;3&emsp;4&emsp;5&emsp;6&emsp;7&emsp;8&emsp;9</p>
  </div>
</div>

<div class="mx-40 colorMain" *ngIf="projectSelected != undefined">
  <div class="colorBox" *ngFor="let color of projectSelected.colors; let i = index">
    <div class="colorContent" [style.background-color]="color.colorhex">
    </div>
    <p class="text-black text-center mt-2 font-bold">{{ color.colorhex | uppercase }}</p>
  </div>
</div>

<h2 class="text-3xl text-center my-16 font-bold" stranslate="project.features"></h2>

<div *ngIf="projectSelected != undefined">
  <div class="my-16 mx-40 flex flex-col items-center" *ngIf="translate.currentLang == 'es'">
    <div class="featureBox my-4 border-2 p-4 w-3/4" *ngFor="let feature of projectSelected.es.features; let i = index">
      <h6 class="text-2xl titleFeature text-center">{{ feature.title }}</h6>
      <p class="text-justify"> {{ feature.dsc }}</p>
    </div>
  </div>

  <div class="my-16 mx-40 flex flex-col items-center" *ngIf="translate.currentLang != 'es'">
    <div class="featureBox my-4 border-2 p-4 w-3/4" *ngFor="let feature of projectSelected.en.features; let i = index">
      <h6 class="text-2xl titleFeature text-center">{{ feature.title }}</h6>
      <p class="text-justify"> {{ feature.dsc }}</p>
    </div>
  </div>
</div>


<div class="my-8 mx-auto w-3/4">
  <p class="text-center text-3xl" stranslate="project.thanks"></p>
  <div class="heart"></div>
  <p class="text-center"><span stranslate="project.hereMore"></span><span class="underline cursor-pointer" stranslate="project.aboutLink" routerLink="/about"></span></p>
</div>

<div class="my-8 mx-auto w-3/4">
  <p class="text-center text-2xl" stranslate="project.otherWork"></p>
</div>

<div class="my-16 mx-40">
  <div class="boxProject border-2 {{ i % 2 == 0 ? 'ml-10 mr-40' : 'ml-40 mr-10' }} p-5 flex flex-row justify-between my-4 cursor-pointer" *ngFor="let random of projectSelected.ramdons;let i = index" (click)="navigateUrl(random.code)">
    <div>
      <h6 class="text-2xl">{{ random.name }}</h6>
      <p class="ml-4">{{ translate.currentLang == "es" ? random.es.resume : random.en.resume }}</p>
    </div>
    <div class="flex flex-row items-center">
      <span class="block stick"></span>
      <span class="block arrow-right"></span>
    </div>
  </div>
</div>
