.boxLaptopScreen {
  width: 90%;
  height: 70vh;
}

.boxLaptopKeyboard {
  width: 100%;
  height: 10vh;
}

.mouseTrack {
  height: 40%;
  width: 30%;
}

.boxTablet{
  height: 80vh;
  border-radius: 30px;
}

.screenTablet{
  width: 70%;
}

.buttonAndCameraTablet{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonTablet{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cameraTablet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.soundTablet {
  width: 30px;
  height: 200px;
  border-radius: 20px;
}

.mobileBox{
  border-radius: 30px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.cameraBoxMobile {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.screenMobile{
  height: 95%;
  border-radius: 30px;
}

.screenImg, .borderedBox {
  border-radius: 30px;
}

.heightForPrincipalImg{
  height: 90vh;
}

.soundMobile {
  height: 10px;
  border-radius: 5px;
  width: 100px;
}

.cameraMobile {
  width: 10px;
  border-radius: 50%;
  height: 10px;
}

.colorBox{
  background-color: #FFF;
  margin: 20px;
  width: 20%;
  float: left;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  transform: scale(1);
}

.colorBox:hover{
  transform: scale(1.2) perspective(1px);
}

.colorContent {
  height: 100%;
  width: 100%;
}

.colorMain {
  display: flow-root;
}

.featureBox {
  border-color: #DB2696;
  transition: all 1s ease;
}

.featureBox:hover{
  transform: scale(1.05) perspective(0.5px);
}

.heart{
  margin: 40px auto;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) scale(1);
  background-color: #FF0000;
  transition: all 1s ease;
}

.heart:hover{
  transform: scale(1.1) perspective(1px) rotate(45deg);
}

.heart:before,
.heart:after{
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #FF0000;
  transition: all 1s ease;
  transform: scale(1);
}

.heart:before{
  bottom: 0px;
  left: -50px;
}

.heart:after{
  top: -50px;
  right: 0px;
}

.stick {
  width: 50px;
  height: 10px;
  background-color: white;
}

.arrow-right {
  display: block;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #FFF;
}
