<section class="mainBoxPadding">
  <!-- Ficha resumen -->
  <div class="text-center">
    <h1 class="text-4xl font-bold">Quipus Events</h1>
    <p class="text-center my-5 dsc" stranslate="quipus.dsc"></p>
  </div>

  <!-- Subtitulo del proyecto -->
  <div class="justify-between rolAgencyDate mt-2">
    <p class="my-1 dscTags"><span stranslate="project.role"></span>&nbsp;<span stranslate="quipus.role"></span></p>
    <p class="my-1 dscTags text-center"><span stranslate="project.agency"></span> 3DLink</p>
    <p class="my-1 dscTags textRight"><span stranslate="project.date"></span> 01-2021 / 06-2021</p>
  </div>

  <!-- Imagen principal del proyecto -->
  <div class="my-16 flex justify-center borderedBox boxUnique">
    <app-img-loader
      [src]="'../../../assets/images/project-images/quipus/principalImg.png'"
      [title]="'Quipus Landing'"
      [alt]="'Landing Quipus'"
      [id]="'quipusLanding'"
      [classes]="'borderedBox'"
      [height]="'400px'"
      class="w-full"
    ></app-img-loader>
  </div>

  <!-- Introduccion -->
  <h5 class="text-center text-3xl font-bold mb-16" stranslate="project.introTitle"></h5>

  <div class="boxProject border-2 p-4 mb-16">
    <p class="text-justify intro" stranslate="quipus.intro"></p>
  </div>
</section>

<!-- Evento -->
<section class="mainBoxPadding">
  <mat-tab-group mat-align-tabs="center" color="accent">
    <mat-tab label="JGH">
      <!-- JGH -->
      <h5 class="text-center text-3xl font-bold my-16">Jose Gregorio Hernandez</h5>

      <div class="boxJgh border-2 p-4 mb-16">
        <p class="text-justify intro" stranslate="quipus.jgh.dsc1"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.jgh.dsc2"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.jgh.dsc3"></p>
        <br />
      </div>

      <!-- Imagenes de JGH -->
      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/jgh/jgh-principalimg.png'"
          [title]="'Landing JGH'"
          [alt]="'Landing Jose Gregorio Hernandez'"
          [id]="'landingJgh'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/jgh/jgh-menuImg.png'"
          [title]="'Concursos Por Edad'"
          [alt]="'Concursos Por Edad'"
          [id]="'pollsJgh'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/jgh/jgh-roundImg.png'"
          [title]="'Grupos de ilustraciones'"
          [alt]="'Grupos de ilustraciones'"
          [id]="'ilustrationGroups'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <div class="boxMobile mb-16 justify-around">
        <app-image-screen
          urlimg="../../../assets/images/project-images/quipus/jgh/jgh-principalImgMobile.png"
          title="Landing JGH Mobile"
          alt="Landing JGH Mobile"
          type="phone"
          id="landingMobile"
        ></app-image-screen>

        <app-image-screen
          urlimg="../../../assets/images/project-images/quipus/jgh/jgh-groupMobileImg.png"
          title="Grupos de ilustraciones móvil"
          alt="Grupos de ilustraciones móvil"
          type="phone"
          id="illustrationGroupMobile"
        ></app-image-screen>
      </div>

      <div class="boxMobile mb-16 justify-around">
        <app-image-screen
          urlimg="../../../assets/images/project-images/quipus/jgh/jgh-galleryImgMobile.png"
          title="Galeria de ilustraciones"
          alt="Galeria de ilustraciones"
          type="phone"
          id="imageGallery"
        ></app-image-screen>

        <app-image-screen
          urlimg="../../../assets/images/project-images/quipus/jgh/jgh-galleryImgMobile2.png"
          title="Galeria de ilustraciones"
          alt="Galeria de ilustraciones"
          type="phone"
          id="imageGallery2"
        ></app-image-screen>
      </div>

      <h2 class="text-3xl text-center my-16 font-bold" stranslate="project.typoColor"></h2>

      <div class="my-6">
        <h3 class="text-3xl mb-2" id="typographyNameJgh1">NOMBRE DE LA TIPOGRAFIA</h3>
        <p class="typographyExample" id="typographyExampleJgh1">
          <app-letters></app-letters>
        </p>
      </div>

      <div class="my-6">
        <h3 class="text-3xl mb-2" id="typographyNameJgh2">NOMBRE DE LA TIPOGRAFIA</h3>
        <p class="typographyExample" id="typographyExampleJgh2">
          <app-letters></app-letters>
        </p>
      </div>

      <app-color-palette [colors]="colorsJgh"></app-color-palette>

      <!-- CARACTERISTICAS -->
      <app-features-box [features]="jghFeatures"></app-features-box>
    </mat-tab>
    <mat-tab label="Oscars">
      <!-- Oscars -->
      <h5 class="text-center text-3xl font-bold my-16">Oscars</h5>

      <div class="boxOscars border-2 p-4 mb-16">
        <p class="text-justify intro" stranslate="quipus.oscars.dsc1"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.oscars.dsc2"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.oscars.dsc3"></p>
        <br />
      </div>

      <!-- Imagenes de los Oscars -->
      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/oscars/oscars-principalImg.png'"
          [title]="'Home Oscars'"
          [alt]="'Home Oscars'"
          [id]="'homeOscars'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/oscars/oscars-nominatesImg.png'"
          [title]="'Nominados a los Oscars'"
          [alt]="'Nominados a los Oscars'"
          [id]="'oscarsNominates'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/oscars/oscars-listUserImg.png'"
          [title]="'Lista de participantes'"
          [alt]="'Lista de participantes'"
          [id]="'listUser'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <div class="my-16 flex justify-center borderedBox boxUnique">
        <app-img-loader
          [src]="'../../../assets/images/project-images/quipus/oscars/oscars-avatar.png'"
          [title]="'Selección de avatar'"
          [alt]="'Selección de avatar'"
          [id]="'avatarSelection'"
          [classes]="'borderedBox'"
          [height]="'400px'"
          class="w-full"
        ></app-img-loader>
      </div>

      <app-image-screen
        urlimg="../../../assets/images/project-images/quipus/oscars/oscars-tabletWinnersImg.png"
        title="Ganadores de los Oscars"
        alt="Ganadores de los Oscars"
        type="tablet"
        id="oscarsWinners"
      ></app-image-screen>

      <app-image-screen
        urlimg="../../../assets/images/project-images/quipus/oscars/oscars-loginImg.png"
        title="Login evento Los Oscars"
        alt="Login evento Los Oscars"
        type="tablet"
        id="loginOscars"
      ></app-image-screen>
    </mat-tab>
    <mat-tab label="Miss">
      <!-- Miss universe -->
      <h5 class="text-center text-3xl font-bold my-16">Miss Universe</h5>
      <div class="boxMiss border-2 p-4 mb-16">
        <p class="text-justify intro" stranslate="quipus.miss.dsc1"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.miss.dsc2"></p>
      </div>
    </mat-tab>
    <mat-tab label="Copas">
      <!-- Las Copas -->
      <h5 class="text-center text-3xl font-bold my-16">Las Copas</h5>
      <div class="boxCopas border-2 p-4 mb-16">
        <p class="text-justify intro" stranslate="quipus.copas.dsc1"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.copas.dsc2"></p>
        <br />
        <p class="text-justify intro" stranslate="quipus.copas.dsc3"></p>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

<!-- Proyectos varios -->
<section class="mainBoxPadding">
  <app-thanks-reading></app-thanks-reading>

  <app-more-projects [projects]="ramdons"></app-more-projects>
</section>
