::ng-deep .mat-tab-header {
  border-color: #db2696;
}

::ng-deep .mat-tab-group {
  font-family: 'Signika', sans-serif !important;
}

.boxJgh {
  border-color: #6c52a2;
}

.boxOscars {
  border-color: #ffc107;
}

.boxMiss {
  border-color: #1ecdf6;
}

.boxCopas {
  border-color: #7eaf00;
}
