<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'laptop'" class="my-16 flex flex-col items-center">
    <div class="border-2 p-2 boxLaptopScreen border-b-0 borderedBox boxProject">
      <app-img-loader
        [src]="urlimg"
        [title]="title"
        [alt]="alt"
        [id]="id"
        [classes]="'w-full'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>
    <div class="border-2 boxLaptopKeyboard boxProject">
      <div class="mouseTrack border-2 border-t-0 m-auto boxProject"></div>
    </div>
  </div>

  <div *ngSwitchCase="'tablet'" class="boxTablet my-16 border-2 flex flex-row justify-between p-2">
    <div class="buttonAndCameraTablet flex-col">
      <div class="cameraTablet border-2 my-2"></div>
      <div class="soundTablet border-2 my-2"></div>
    </div>

    <div class="screenTablet">
      <app-img-loader
        [src]="urlimg"
        [title]="title"
        [alt]="alt"
        [id]="id"
        [classes]="'w-full'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>

    <div class="buttonAndCameraTablet">
      <div class="buttonTablet border-2"></div>
    </div>
  </div>

  <div *ngSwitchCase="'phone'" class="border-2 mobileBox p-4">
    <div class="w-full cameraBoxMobile">
      <div class="cameraMobile border-2"></div>
      <div class="soundMobile border-2"></div>
    </div>
    <div class="w-full screenMobile">
      <app-img-loader
        [src]="urlimg"
        [title]="title"
        [alt]="alt"
        [id]="id"
        [classes]="'h-full w-full screenImg'"
        [height]="'400px'"
        class="w-full"
      ></app-img-loader>
    </div>
  </div>
</ng-container>
